
<!-- Content Wrapper. Contains page content -->
<div data-ng-init="initCompanyDashboard()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 ng-show="pageHeader">
            {{ pageHeader }}
            <small>{{ pageDesc }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="app.project_dashboard"><i class="fa fa-dashboard"></i>{{'dashboard.project' | translate }}</a></li>
            <li class="active">{{'dashboard.company_dashboard' | translate }}</li>
        </ol>
        <br />
      </section>
      <section class= "content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title"><strong> {{'dashboard.company_dashboard' | translate }}</strong></h3>
            </div><!-- /.box-header -->
            <!-- form search -->
            <div class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="current_month" class="col-sm-2 control-label"> {{ 'report.current' | translate }}</label>
                  <div class="col-sm-3">
                    <h5><a ng-click = "getDataCompanyDashboard()"> {{month}} </a> </h5>
                  </div>
                  <label for="date_range" class="col-sm-2 control-label">{{ 'report.date' | translate }}: </label>
                  <div class="col-sm-4">
                    <button class="btn btn-default pull-right" id="date_range">
                      <i class="fa fa-calendar"></i> <span > </span>
                      <i class="fa fa-caret-down"></i>
                    </button>
                  </div>
                </div>
              </div><!-- /.box-body -->
            </div>
          </div><!-- /.box -->
        </div><!-- /.col-->
      </div>

      <div class="row">
         <div class="col-md-7">
              <div class="box box-default ">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'dashboard.ticket_chart' | translate }} </h3>
                  <p class="pull-right mes" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }}</p>
                </div>
                <div class="box-body no-padding">
                  <div class="box-body chart-responsive">
                    <div
                      donut-chart
                      donut-data= data
                      donut-colors= colors
                      >
                    </div>
                  </div><!-- /.box-body -->
                </div><!-- /.box -->
              </div>
          </div><!-- /.col -->

          <div class="col-md-5">
            <div class="box box-default ">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'dashboard.ListProject' | translate }}</h3>
                  <p  class="pull-right mes" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }} </p>
                </div>
                <div class="box-body no-padding">
                  <div class="box-body chart-responsive">
                    <ul style="list-style:none">
                      <li style="float:left; margin:4px 8px 4px 0px" ng-repeat="data in data">
                        <button class="btn btn-block btn-primary btn-sm" ng-click='linkProjectDashboard(data.project_id)'>{{data.label}}</button>
                      </li>
                    </ul>
                  </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
          </div><!-- /.col -->
      </div>

      <div class="row">
        <div class="col-md-12"> 
                <!-- Donut chart -->
          <div class="box box-default">
            <div class="box-header with-border">
                  <h3 class="box-title">{{'dashboard.project_cost' | translate }} </h3>
                  <div class="pull-right">
                    <button class="btn btn-default btn-sm" ng-disabled="pre" ng-click="prePage()">
                    <i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-default btn-sm" ng-disabled="next" ng-click="nextPage()">
                    <i class="fa fa-chevron-right"></i></button>
                  </div>
                  <p class="pull-right mes" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }}</p>
                </div>
                <div class="box-body chart-responsive">
                  <div
                  bar-chart 
                  bar-data = dataCost
                  bar-x= 'label'
                  bar-y= xLabel.key
                  bar-labels= xLabel.name 
                  bar-colors= colors
                  >
                  </div>

                  <!-- <div class="chart" id="project-cost" style="height: 300px;"></div> -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->
          </div><!-- /.col -->
        </div><!-- /.row -->
    </section>
    <!-- Main content -->
</div>
<script>
$(document).ready(function () {
    $('#reservation').daterangepicker();
      //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
      //Date range as a button
    $('#date_range').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
     function (start, end) {
         $('#date_range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         var element = angular.element($('#date_range'));
          var controller = element.controller();
          var scope = element.scope();
         scope.$apply(function(){
           var start_time = start.toISOString();
           var end_time = end.toISOString();
          scope.onSearchDashboard(start_time, end_time);
          });
        });
 });
 </script>
  <style type="text/css">
 .mes {
  background: #edc0b8;
  color: #9A0707;
  padding: 5px;
  margin-top: 10px;
 }
 </style>
