<!-- Content Wrapper. Contains page content -->
<div data-ng-init="initMyDashboard()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 ng-show="pageHeader">
            {{ pageHeader }}
            <small>{{ pageDesc }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="app.report_main"><i class="fa fa-dashboard"></i>{{'report.daily' | translate }}</a></li>
            <li class="active">{{'dashboard.my_dashboard' | translate }}</li>
        </ol>
        <br />
      </section>
      <section  class = "content">
        <div class="row">
         <div class="col-md-12">
            <div class="box box-default">
              <div class="box-header with-border">
              <h3 class="box-title"><strong> {{'dashboard.my_dashboard' | translate }}</strong></h3>
              </div><!-- /.box-header -->
            <!-- form search -->
            <div class="form-horizontal">
              <div class="box-body">
              <div class="form-group">
                    <label for="current_month" class="col-sm-2 control-label"> {{ 'report.current' | translate }}</label>
                    <div class="col-sm-3">
                     <h5><a ng-click = "getDataMyDashboard()"> {{month}} </a> </h5>
                    </div>
                  <label for="date_range" class="col-sm-2 control-label">{{ 'report.date' | translate }}: </label>
                    <div class="col-sm-4">
                     <button class="btn btn-default pull-right" id="date_range">
                     <i class="fa fa-calendar"></i> <span > </span>
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                  </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
              </div><!-- /.box-footer -->
            </div>
          </div><!-- /.box -->
        </div><!-- /.col-->
        </div>

        <div class="row">
          <div class="col-md-6">
                <div class="box box-default">
                  <div class="box-header with-border">
                    <h3 class="box-title">{{'dashboard.ticket_chart' | translate }}  </h3>
                    <p class="pull-right mes" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }}</p>
                  </div>
                  <div class="box-body chart-responsive">
                    <div
                      donut-chart
                      donut-data= data
                      donut-colors= colors
                      >
                    </div>
                  </div><!-- /.box-body -->
                </div><!-- /.box -->
          </div><!-- /.col -->


          <div class="col-md-6">
              <!-- Donut chart -->
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'dashboard.project_cost' | translate }} </h3>
                  <div class="pull-right">
                    <button class="btn btn-default btn-sm" ng-disabled="preHours" ng-click="prePageHours()">
                    <i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-default btn-sm" ng-disabled="nextHours" ng-click="nextPageHours()">
                    <i class="fa fa-chevron-right"></i></button>
                  </div>
                  <p class="pull-right mes" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }}</p> 
                </div>
                <div class="box-body chart-responsive">
                  <div
                    bar-chart 
                    bar-data = dataHours
                    bar-x= 'label'
                    bar-y= xLabel.key
                    bar-labels= xLabel.name 
                    bar-colors= colors
                  >
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->


        </div>
        <div class="row">
            <div class="col-md-6">
              <!-- Donut chart -->
              <div class="box box-v">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'dashboard.category_ticket' | translate }}  </h3>
                  <div class="pull-right">
                    <button class="btn btn-default btn-sm" ng-disabled="preTicket" ng-click="prePageTicket()">
                    <i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-default btn-sm" ng-disabled="nextTicket" ng-click="nextPageTicket()">
                    <i class="fa fa-chevron-right"></i></button>
                  </div>
                  <p class="pull-right mes" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }}</p>
                  </div>
                <div class="box-body chart-responsive">
                  <div
                    bar-chart 
                    bar-data = dataTicket
                    bar-x= 'label'
                    bar-y= xLabel.categoryTicket
                    bar-labels= xLabel.nameCategory 
                    bar-colors= colors
                  >
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div>
    </section>
    <!-- Main content -->
</div>
<script>
$(document).ready(function () {
    $('#reservation').daterangepicker();
      //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
      //Date range as a button
    $('#date_range').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
     function (start, end) {
         $('#date_range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         var element = angular.element($('#date_range'));
          var controller = element.controller();
          var scope = element.scope();
         scope.$apply(function(){
           var start_time = start.toISOString();
           var end_time = end.toISOString();
          scope.onSearchDashboard(start_time, end_time);
          });
         });
 });
 </script>
 <style type="text/css">
 .mes {
  background: #edc0b8;
  color: #9A0707;
  padding: 5px;
 }
 </style>
