<!-- Content Wrapper. Contains page content -->
<div data-ng-init="initProjectDashboard()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 ng-show="pageHeader">
            {{ pageHeader }}
            <small>{{ pageDesc }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="app.company_dashboard"><i class="fa fa-dashboard"></i>{{'dashboard.company_dashboard' | translate }}</a></li>
            <li class="active">{{'dashboard.project' | translate }}</li>
        </ol>
      </section>
      <section class = "content">
        <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
              <div class="box-header with-border">
              <h3 class="box-title"><strong> {{'dashboard.project' | translate }}</strong></h3>
              </div><!-- /.box-header -->
            <!-- form search -->
            <div class="form-horizontal">
              <div class="box-body">
              <div class="form-group">
                    <label for="current_month" class="col-sm-2 control-label"> {{ 'report.project' | translate }} : </label>
                    <div class="col-sm-3">
                    <select type="text" class="form-control" id="search_project" ng-model="search_project" >
                          <option ng-repeat="project in $storage.projects" value="{{ project.id }}" ng-selected="project.id == projectId">{{ project.name}}</option>
                          </select>
                    </div>
                  <label for="date_range" class="col-sm-2 control-label">{{ 'report.date' | translate }}: </label>
                    <div class="col-sm-4">
                     <button class="btn btn-default pull-right" id="date_range">
                     <i class="fa fa-calendar"></i> <span ng-show = "hasStartEnd"> > </span>
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                  </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
              <a ng-click="onClickSearch()" class="btn btn-primary pull-right " id= "searchBtn"><i class="fa fa-search"></i> </a>
              <a ng-click="onClear()" class="btn btn-danger pull-right" id= "buttonEdit"><i class="fa fa-times-circle"></i> </a>
              </div><!-- /.box-footer -->
            </div>
          </div><!-- /.box -->
        </div><!-- /.col-->
      </div><!-- Row-->


      <div class="row">
       <div class="col-md-4"> 
              <!-- Donut chart -->
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'dashboard.project_cost' | translate }} </h3>
                  <p class="mes" class="pull-right" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }}   </p>
                </div>
                <div class="box-body chart-responsive">
                  <div
                    bar-chart 
                    bar-data = data
                    bar-x= 'label'
                    bar-y= costUserKeyCategory[0].costUserKey
                    bar-labels= costUserKeyCategory[0].costUserUabel 
                    bar-colors= colors
                    >
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
        </div><!-- /.col -->
        <!-- Project - Hours -->


        <div class="col-md-8"> 
          <!-- Donut chart -->
          <div class="box box-v">
            <div class="box-header with-border">
              <h3 class="box-title">{{'dashboard.category_ticket' | translate }} </h3>
              <p class="pull-right mes" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }}</p>
            </div>
            <div class="box-body chart-responsive">
                <div
                    bar-chart 
                    bar-data = categoryProject
                    bar-x= 'label'
                    bar-y= costUserKeyCategory[0].workTime
                    bar-labels= costUserKeyCategory[0].workTimeLabel 
                    bar-colors= colors
                    >
                  </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
        <!--Process chart -->
    </div> 
    <!-- Project - Hours & Process chart -->

    
      <div class="row">
            <div class="col-md-12"> 
              <!-- Donut chart -->
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'dashboard.member_cost' | translate }} </h3>
                  <div class="pull-right">
                    <button class="btn btn-default btn-sm" ng-disabled="pre" ng-click="prePage()">
                    <i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-default btn-sm" ng-disabled="next" ng-click="nextPage()">
                    <i class="fa fa-chevron-right"></i></button>
                  </div>
                  <p class="pull-right mes" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }}</p>

                </div>

                <div class="box-body chart-responsive">
                  <div bar-chart 
                        bar-data = dataMember 
                        bar-x= 'name' 
                        bar-y= costUserKeyCategory[0].costUserKey 
                        bar-labels= costUserKeyCategory[0].costUserUabel 
                        bar-colors= colors 
                      >
                  </div>
                </div><!-- /.box-body -->                
              </div><!-- /.box -->
            </div><!-- /.col -->
            <!--User chart-->

          <div class="col-md-12"> 
          <!-- Donut chart -->
          <div class="box box-v">
            <div class="box-header with-border">
              <h3 class="box-title">{{'dashboard.category_process' | translate }} </h3>
              <p class="pull-right mes" ng-show="isMessages" >  {{'dashboard.dataMatching' | translate }}</p>
            </div>
            <div class="box-body chart-responsive">
                <div
                    bar-chart 
                    bar-data = processProject
                    bar-x= 'label'
                    bar-y= costUserKeyCategory[0].workTime
                    bar-labels= costUserKeyCategory[0].workTimeLabel 
                    bar-colors= colors
                    >
                  </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
        <!--category chart -->


      </div><!-- Row -->
      <!--Member - Hours -->


      <div class="row">

      </div>
      

    </section>
    <!-- Main content -->
</div>
<script>
$(document).ready(function () {
    $('#reservation').daterangepicker();
      //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
      //Date range as a button
    $('#date_range').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
     function (start, end) {
         $('#date_range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         var element = angular.element($('#date_range'));
          var controller = element.controller();
          var scope = element.scope();
         scope.$apply(function(){
           var start_time = start.toISOString();
           var end_time = end.toISOString();
           var data = [];
           if(scope.search_project){
            data ['search_project'] = scope.search_project;
           } else {
            data ['search_project'] = document.getElementById("search_project").value.substr(7,8);
           }
          scope.onSearchDashboard(start_time, end_time, data);

          });
         });
 });
 </script>
 <style type="text/css">
 .mes {
  background: #edc0b8;
  color: #9A0707;
  padding: 5px;
 }
 </style>
