body, html, .app-content, .content {
  height: 100%;
}

.app-content .wrapper {
  background-color: #ecf0f5;
}

.app-content .main-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.validation-invalid {
  color: #fff;
  background-color: #f39c12;
  border-color: #e08e0b;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  /* temporary workaround for display editable-bstime in bs3 - up/down symbols not shown */
  .editable-bstime .editable-input i.icon-chevron-up:before {
    content: '\e113';
  }
  .editable-bstime .editable-input i.icon-chevron-down:before {
    content: '\e114';
  }
  .editable-bstime .editable-input i.icon-chevron-up,
  .editable-bstime .editable-input i.icon-chevron-down {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
}
#buttonEdit{
  float:left;
  margin: 0px 10px 0px 10px;
}
.bold-css {
  font-weight: bold;
}
/*#scrollView{
  max-width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}*/
.wraptext {
  max-width: 100%;
 word-break: break-word;
 white-space: pre-wrap;
}
.editable-wrap {
  width: 100%; 
}
.box { margin-bottom:50px;}
.box-top-null{
  border-top:#fff;
}
.dropdown-menu .ng-isolate-scope tr td .btn{background: #fff;}
.dropdown-menu .ng-isolate-scope tr td .btn.btn-info{background: #eee; color:#000;}
 .ng-hide-add {
  -webkit-transition:0s linear all;
  -moz-transition:0s linear all;
  -o-transition:0s linear all;
  transition:0s linear all;

           opacity: 1;
       }
       .ng-hide-add.ng-hide-add-active { 
           opacity: 0;
       }

       .ng-hide-remove {
  -webkit-transition:0s linear all;
  -moz-transition:0s linear all;
  -o-transition:0s linear all;
  transition:0s linear all;

           opacity: 0;
       }
       .ng-hide-remove.ng-hide-remove-active { 
           opacity: 1;
       }

.editable-controls .dropdown-menu .ng-isolate-scope .text-center .pull-left {
      margin-right: 5px; 
}
.editable-controls .dropdown-menu .ng-isolate-scope .text-center .pull-right {
    margin-left: 5px; 
}
.icon-chevron-left {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.icon-chevron-left:before {
    content: "\e079";
}

.icon-chevron-right {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.icon-chevron-right:before {
   content: "\e080";
}
.callout {
  margin: 20px 0px;
  padding: 10px;
}
.color-fff {
  color: #fff;
  opacity: 1 !important;
}
.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
    color: #333;
    font-style: normal;
}
