<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">Time System Management</div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2015 <a href="http://nadia.bz/vn/">NADIA VietNam</a>.</strong> All rights reserved.
</footer>
<div class='control-sidebar-bg'></div>