<style type="text/css">
  .messageNoitify{
    color: #fff;
    font-size: 24px;
    margin-left: 30px;
    width: 55%;
    margin-top: 4px;
    float: left;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc,
     0 6px 1px rgba(0,0,0,.1);
  }

</style>
<!-- Main Header -->
<header class="main-header" data-ng-init="initNavbar()">
  <!-- Logo -->
  <a ui-sref="app" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>T</b>MS</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>{{ 'common.nadia' | translate }}</b>{{ 'common.tms' | translate }}</span>
  </a>
 
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a style="float:left" href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">{{ 'common.nav' | translate }}</span>
      </a>
          <p class="messageNoitify">{{  localMissing.messageNoitify }}</p>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">

        <ul class="nav navbar-nav">
        
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning" ng-if="localMissing.dataMissing.length + localMissing.dataMissing1.length != 0">{{ localMissing.dataMissing.length + localMissing.dataMissing1.length }}</span>
            </a>
            <ul class="dropdown-menu" style = "background-color: #edc184">
              <li>
                <!-- inner menu: contains the actual data -->
                <strong style = "padding: 10px"> {{ 'report.missing' | translate }} {{ 'report.at' | translate }} {{month}} : </strong>
                      <span > {{ localMissing.dataMissing.length }} </span>
                      <span ui-sref="app.report_missing_user({ month: month})" class="btn label btn-xs label-primary pull-right"><i class="fa fa-pencil"></i></span>
              </li>
              <li ng-if= "beforeDeadline && report_total1 !=0">
                <!-- inner menu: contains the actual data -->
                <strong style = "padding: 10px"> {{ 'report.missing' | translate }} {{ 'report.at' | translate }} {{month -1}} : </strong>
                      <span > {{localMissing.dataMissing1.length }} </span>
                      <span ui-sref="app.report_missing_user({ month: month -1 })" class="btn label btn-xs label-primary pull-right"><i class="fa fa-pencil"></i></span>
              </li>
            </ul>
           
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">

            <!-- Menu Toggle Button -->
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/tms/client/assets/img/user_image.png" class="user-image" alt="User Image"/>
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{ user.name }}</span>
            </a>

            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/tms/client/assets/img/user_image.png" class="img-circle" alt="User Image"/>

                <p>
                  {{ user.name }}
                  <small>{{ user.email }}</small>
                </p>
              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat" ng-click="profileUser(user.id)">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="javascript:void(0)" class="btn btn-default btn-flat" ng-click="onLogout()">{{ 'header.logout' |
                    translate }}</a>
                </div>
              </li>
          </ul>

        </li>
      </ul>
    </div>
  </nav>
</header>
<style type="text/css">
  .user-panel{
    padding-bottom: 35px;
  }
</style>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/tms/client/assets/img/user_image.png" class="img-circle" alt="User Image"/>
      </div>
      <div class="pull-left info">
        <p>{{ 'dashboard.hello' | translate }}, {{ user.name }}</p>

        <p>{{ user.email }}</p>
        <!-- Status -->
        <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
      </div>
    </div>

    <!-- search form (Optional) -->
    <!-- <form action="javascript:void()" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="{{ 'common.search' | translate }}..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form> -->
    <!-- /.search form -->
    <br />
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <!-- <li ng-show="pageHeader" class="header">{{ pageHeader }}</li> -->
      <!-- Optionally, you can add icons to the links -->
      <li ng-repeat="menu in menus" class="treeview" ng-class="(menu.slug === menuActive) ? 'active' : ''">
        <a ui-sref="{{ menu.link }}">
          <i class="fa fa-link"></i>
          <span>{{ menu.name }}</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu" ng-show="menu.menu_items">
          <li ng-repeat="menu_item in menu.menu_items">
            <a ui-sref="{{ menu_item.link }}">
              <i class="fa fa-link"></i>
              <span>{{ menu_item.name }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    

    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
