<section class="content">

  <!-- Add form -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
       <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->
        <!-- Add Project Header -->
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'project.add_new' | translate }}</h3>
        </div><!-- /.box-header -->
        <!--show messages error-->
          <div  ng-show= "isMessages && colorShowMessages" class="alert alert-warning fade in bold-css ">
            <a href="#" class="close" ng-click="deleteMessage()" aria-label="close">&times;</a>
            <ul >
            <li ng-repeat = "message in messages"> {{message}} </li>
            </ul>
        </div>
         <!--show messages  success-->
        <div  ng-show= "isMessages && !colorShowMessages" class="alert alert-success fade in bold-css">
            <a href="#" class="close" ng-click="deleteMessage()" aria-label="close">&times;</a>
            <ul >
            <li ng-repeat = "message in messages"> {{message}} </li>
            </ul>
        </div>

        <!-- Form Add Project Name -->
        <div class="box-body">

          <div class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="project_name" class="col-sm-2 control-label">{{ 'project.name' | translate }}<small>(*)</small> :</label>
                <div class="col-sm-10">
                  <input type="text" id = "project_name" class="form-control" ng-model="project.name" placeholder="{{ 'project.name' | translate }}">
                </div>
              </div>
              <div class="form-group">
                <label for="project_quotation" class="col-sm-2 control-label">{{ 'project.quotation' | translate }} :</label>
                <div class="col-sm-10">
                  <input type="text"  id = "project_quotation " class="form-control" ng-model="project.quotation_time" placeholder="{{ 'project.quotation' | translate }}">
                </div>
              </div>
              <div class="form-group">
                <label for="project_plan" class="col-sm-2 control-label">{{ 'project.plan' | translate }} :</label>
                <div class="col-sm-10">
                  <input type="text"  id = "project_plan " class="form-control" ng-model="project.plan_time" placeholder="{{ 'project.plan' | translate }}">
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <button class="btn btn-primary pull-right btn-sm" type="button" ng-click="addProject()"><i class="fa fa-plus"></i></button>
            </div><!-- /.box-footer -->
          </div>

        </div><!-- end box -->
      </div>
    </div>

  </div><!-- end edit row -->
</section>

