  <section class="content">
   
    <div class="modal" id="tms_project_add_user" tabindex="-1" width="900px" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">{{ 'project.add_user' | translate }} </h4>
          </div>
          <!--show messages error-->
          <div  ng-show= "isMessages && colorShowMessages" class="alert alert-warning fade in bold-css">
            <a href="#" class="close" ng-click="deleteMessage()" aria-label="close">&times;</a>
            <ul >
            <li ng-repeat = "message in messages"> {{message}} </li>
            </ul>
        </div>
         <!--show messages  success-->
        <div  ng-show= "isMessages && !colorShowMessages" class="alert alert-success fade in bold-css ">
            <a href="#" class="close" ng-click="deleteMessage()" aria-label="close">&times;</a>
            <ul >
            <li ng-repeat = "message in messages"> {{message}} </li>
            </ul>
        </div>
          <div>
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                  <!-- Search form -->
                  <form class="search-form" style="padding-top: 5px;">
                    <div class="input-group">
                      <input type="text" ng-model="searchText"  name="search" class="form-control" placeholder="Text Search">
                      <div class="input-group-btn">
                        <button type="submit" name="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                      </div>
                    </div><!-- /.input-group -->
                  </form><br />
                  <!-- end search row -->

                <!-- Check all button -->
                <button class="btn btn-default btn-sm checkbox-toggle" id="modal-add-user"><i id="checkall-modal" class="fa fa-square-o"></i></button>
                <div class="pull-right">
                  <!-- <button class="btn btn-default btn-sm" ng-class="prevPageDisabled()" ng-click="prevPage()">
                  <i class="fa fa-chevron-left"></i></button>
                  <button class="btn btn-default btn-sm" ng-class="nextPageDisabled()" ng-click="nextPage()">
                  <i class="fa fa-chevron-right"></i></button> -->
                </div>
                <!-- /.pull-right -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                    <!--list user not in project-->
                    <tr ng-repeat="user in listUser | filter:searchText" on-finish-render-item="loadICheck(user.id)">
                      <td><input class="user-check-ids select-user add-user" type="checkbox" modal="true" name="formData" value="{{user.id}}" data-id="{{ user.id }}" ></td>
                      <!-- <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td> -->
                      <td class="mailbox-name"><a href="read-mail.html">{{user.name}}</a></td>
                      <td class="mailbox-subject"><b>{{user.email}}</b></td>
                    </tr>

                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
          </div>
          <!-- end table users row -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-trash-o"></i></button>
            <button type="button" class="btn btn-primary" ng-click="onSubmitAssignUser()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </section>