<section class="content">
  <!-- Edit form -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
       <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'project.edit.title' | translate }}</h3>
        </div><!-- /.box-header -->
        <!--show messages error-->
          <div  ng-show= "isMessages && colorShowMessages" class="alert alert-warning fade in bold-css ">
            <a href="#" class="close" ng-click="deleteMessage()" aria-label="close">&times;</a>
            <ul >
            <li ng-repeat = "message in messages"> {{message}} </li>
            </ul>
        </div>
         <!--show messages  success-->
        <div  ng-show= "isMessages && !colorShowMessages" class="alert alert-success fade in bold-css">
            <a href="#" class="close" ng-click="deleteMessage()" aria-label="close">&times;</a>
            <ul >
            <li ng-repeat = "message in messages"> {{message}} </li>
            </ul>
        </div>

        <div class="box-body">

        	<div class="form-horizontal">
            <div class="box-body">
               <div class="form-group">
                <label for="project_name" class="col-sm-2 control-label">{{ 'project.name' | translate }} :</label>
                <div class="col-sm-10">
                  <input type="text" id = "project_name" class="form-control" ng-model="project.name" placeholder="{{ 'project.name' | translate }}">
                </div>
              </div>
              <div class="form-group">
                <label for="project_quotation" class="col-sm-2 control-label">{{ 'project.quotation' | translate }} :</label>
                <div class="col-sm-10">
                  <input type="text"  id = "project_quotation " class="form-control" ng-model="project.quotation_time" placeholder="{{ 'project.quotation' | translate }}">
                </div>
              </div>
              <div class="form-group">
                <label for="project_plan" class="col-sm-2 control-label">{{ 'project.plan' | translate }} :</label>
                <div class="col-sm-10">
                  <input type="text"  id = "project_plan " class="form-control" ng-model="project.plan_time" placeholder="{{ 'project.plan' | translate }}">
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <button ng-click="updateProjectName(project.id)" class="btn btn-primary pull-right btn-sm"><i class="fa"></i>Update Project</button>
            </div><!-- /.box-footer -->
          </div>

        </div><!-- end box-body -->
      </div><!-- end box -->
    </div>

  </div><!-- end edit row -->

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
      <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoadingDeleteUser" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'users.list' | translate }} </h3>
          <div class="box-tools pull-right">
            <div class="has-feedback">
            	<input type="text" placeholder="Search User" class="form-control input-sm" ng-model='$parent.searchInputEdit'/>
            	<span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div>
        </div><!-- /.box-header -->

        <div class="box-body table-responsive mailbox-messages">
          <div  ng-show= "isMessages_bootom" class="alert alert-default fade in " style= "background-color: {{colorShowMessages}}">
            <ul >
            <li> {{message}} </li>
            </ul>
          </div>
          <!-- TABLE DATA -->
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>{{ 'project.id' | translate }}</th>
                <th>{{ 'login.email' | translate }}</th>
                <th>{{ 'project.name' | translate }}</th>
                <th>{{ 'project.quotation' | translate }} || Free time is {{ freeTime }}h</th>
                <th >{{ 'report.operation' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users | filter:search" >

                <td>{{ user.id }}</td>
                <td><a href="#" >{{ user.email }}</a></td>
                <td>{{ user.name }}</td>
                <td>
               <a href="#" onbeforesave="addQuotation($data, user)" editable-number="user.member_quotation" e-min="1">{{ user.member_quotation || 'empty' }}</a>    
                </td>
                <td confirm-action on-confirm="deleteUser(user)" ></td>
              </tr>
            </tbody>
          </table>
          <!-- End TABLE DATA -->

          <!-- Click to open modal box -->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tms_project_add_user"  ng-click="listUserNotInProject(project.id, 1)"><i class="fa fa-plus"> </i><i class="fa fa-user"> </i>
          </button>
        </div><!-- end box-body -->
      </div><!-- end box -->
    </div>
  </div><!-- end table users row -->
 </section>
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming" >
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"> <i class="fa fa-trash-o"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
       <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-trash-o"></i></button>
  </div>
</script>
