
<div data-ng-init="initSetting_dasboard()">

  <section class="content-header">
    <h1>
     {{ pageHeader }}
      <small>{{ pageDesc }}</small>
    </h1>
  </section>
  <section class="content">
  <div  ng-show= "isMessages" class="callout callout-info" >
      <a href="#" class="close color-fff" ng-click="deleteMessage()" aria-label="close">&times;</a>
      <ul >
        <li ng-repeat = "message in messages"> <h4> {{ message }} </h4></li>
      </ul>
  </div>

    <div class="row">
        <div class="col-md-4">
          <div class="box box-top-null">
            <div class="box-header with-border">
            <h3 class="box-title">{{ 'setting.create_setting' | translate }}</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" name="regForm">
              <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'project.name' | translate }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="name" class="form-control" 
                        placeholder="Name" 
                        ng-model="name" 
                        required 
                        ng-minlength="3"
                        validator="minlength=3"
                        valid-method="blur" 
                        message-id="tms_name_" > 
                    </div>
                  </div>
                  <div id="tms_name_"> </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'setting.type' | translate }}</label>
                    <div class="col-sm-10">
                      <select ng-model="type" required>
                        <option value="category">{{ 'report.category' | translate }}</option>
                        <option value="process">{{ 'report.process' | translate }}</option>
                      </select>
                    </div>
                  </div>


              </div><!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right" ng-click="createRow()"><i class="fa fa-floppy-o"></i></button>
            </div>
            </form>
          </div>




          <div class="box box-top-null">
            <div ng-show="isLoading3" class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="box-header with-border">
            <h3 class="box-title">Create day off</h3>
            <p style="color:red" > {{ sms }} </p>
            <p style="color:blue" > {{ SuccessSms }} </p>


            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" name="regForm">
              <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Day</label>
                    <div class="col-sm-10">
                      <input  type="text" ng-model="dateDayoff" show-weeks="false" placeholder="Date" datepicker-popup="yyyy-MM-dd" required="required" class="editable-input form-control ng-pristine ng-invalid ng-invalid-required ng-touched" > 
                    </div>
                  </div>
                  <div id="tms_name_"> </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Note</label>
                    <div class="col-sm-10">
                      <textarea ng-model="note" style="margin: 0px; width: 100%; min-height: 65px;outline: none;border: solid 1px #D9D7D7;"> 
                        
                      </textarea>
                    </div>
                  </div>


              </div><!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right" ng-click="addDayOf()"><i class="fa fa-floppy-o"></i></button>
            </div>
            </form>
          </div>




          <div class="box box-top-null">
            <div ng-show="isLoading3" class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="box-header with-border">
            <h3 class="box-title">Message</h3>
            <p style="color:red" > {{ errorMess }} </p>
            <p style="color:blue" > {{ SuccessSmss }} </p>


            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" name="regForm">
              <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Day</label>
                    <div class="col-sm-10">
                      <input  type="text" ng-model="MessageNoitify" placeholder="Message " value="asd" class="editable-input form-control ng-pristine ng-invalid ng-invalid-required " > 
                    </div>
                  </div>
                  <div id="tms_name_"> </div>

              </div><!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right" ng-click="addMessage(1)"><i class="fa fa-floppy-o"></i></button>
              <button type="submit" class="btn btn-danger pull-left" ng-click="addMessage(0)"><i class="fa fa-trash-o"></i></button>
            </div>
            </form>
          </div>




        </div>
        <div class="col-md-4">
            <div class="box">

              <div class="box-header">
                <h3 class="box-title" >{{ 'setting.category_management' | translate }}</h3>

              </div><!-- /.box-header --> 
              <div class="box-body no-padding">
              <div ng-show="isLoading1" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
              </div>

                <table class="table table-striped">
                  <tbody>

                  <tr>
                    <th>{{ 'project.name' | translate }}</th>
                    <th style="width: 100px">{{ 'project.deleteAction' | translate }}</th>
                  </tr>

                  <tr ng-repeat="category in $storage.categories">
                    <td>
                    <a onaftersave="editSetting(category.id, category.name,1)" href="#" class="editable-a-text-edit" e-required editable-text="category.name">{{ category.name || 'empty' }}</a></td>
                   
                    <td><div confirm-action on-confirm="onDeleteCategory(category.id, 1)"></div></td>

                  </tr>

                </tbody></table>
              </div><!-- /.box-body -->
            </div>

            <div class="box">
            <div ng-show="isLoading4" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="box-header">
                <h3 class="box-title" >List Day off</h3>

              </div><!-- /.box-header --> 
              <div class="box-body no-padding">

                <table class="table table-striped">
                  <tbody>

                  <tr>
                    <th>Day</th>
                    <th style="width: 100px">{{ 'project.deleteAction' | translate }}</th>
                  </tr>

                  <tr ng-repeat="day in listDayOff">
                    <td>
                    <a href="#" class="editable-a-text-edit" e-required >{{ day.day.substr(0,11) }}</a>
                    <p style="font-size: 11px;">{{day.note}}</p>
                    </td>
                   
                    <td><div confirm-action on-confirm="DeleteDay(day.day)"></div></td>

                  </tr>

                </tbody></table>
              </div><!-- /.box-body -->
            </div>


        </div>    <!--col-md-6-->

        <style type="text/css">
        .editable-a-text-edit {
          border: none !important;
          color: #333 !important;
        }
        </style>

        <div class="col-md-4">

            <div class="box">
              <div class="box-header">
                <h3 class="box-title" >{{ 'setting.process_management' | translate }}</h3>
              </div><!-- /.box-header --> 
              <div class="box-body no-padding">

              <div ng-show="isLoading2" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
              </div>


                <table class="table table-striped">
                  <tbody>

                  <tr>
                    <th>{{ 'project.name' | translate }}</th>
                    <th style="width: 100px">{{ 'project.deleteAction' | translate }}</th>
                  </tr>

                  <tr ng-repeat="process in $storage.processes">
                    <td><a onaftersave="editSetting(process.id, process.name,2)" e-required href="#" class="editable-a-text-edit" editable-text="process.name">{{ process.name || 'empty' }}</a></td>
                    <td><div confirm-action on-confirm="onDeleteCategory(process.id, 2)"></div></td>
                  </tr>

                </tbody></table>
              </div><!-- /.box-body -->
            </div>
        </div>    <!--col-md-6-->

    </div><!--row -->
  </section>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming" >
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"> <i class="fa fa-trash-o"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
       <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-trash-o"></i></button>
  </div>
</script>


