<div data-ng-init="initDetailProject()">

    <section class="content-header">
        <h1>
            Projects
            <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="app.project_list"><i class="fa fa-dashboard"></i>List Projects</a></li>
            <li class="active">Detail Project</li>
        </ol>
    </section>

    <div ng-include="getInclude('views/project/partials/edit.html')" ng-show="isEdit"></div>

    <div ng-include="getInclude('views/project/partials/add.html')" ng-show="!isEdit"></div>

    <div ng-include="getInclude('views/project/partials/add_user_modal.html')" ng-show="isEdit || allowAddUser"></div>
        
</div>
