
<div data-ng-init="initListProjects()">
  <section class="content-header">
        <h1 ng-show="pageHeader">
            {{ pageHeader }}
            <small>{{ pageDesc }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="app.project_disable ({ disable: 'list-disable'})" ng-click = "getDisableState()"><i class="fa fa-dashboard"></i>{{ 'project.disable' | translate }}</a></li>
            <li class="active">{{ 'project.enable' | translate }}</li>
        </ol>
  </section>
    <!-- Main content -->
  <section class="content">
        <!-- search list projects -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-default">
            <!-- Loading (remove the following to stop the loading)-->
           <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->
              <div class="box-header with-border">
              <h3 class="box-title"><strong>{{ 'project.search_list' | translate }}</strong></h3>
            </div><!-- /.box-header -->
            <!-- form search -->
            <form ng-submit="searchProject()">
            <div class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="search_project" class="col-sm-2 control-label">{{ 'project.name' | translate }} :</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="search_project" ng-model="search_project" placeholder="{{ 'project.name' | translate }} ">
                  </div>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                <button ng-click="onSearchProject()" class="btn btn-primary pull-right"><i class="fa fa-search"></i></button>
              </div><!-- /.box-footer -->
            </div>
            </form>
          </div><!-- /.box -->
        </div><!-- /.col-->
      </div><!-- /.row -->
   <!-- table list project -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-default">
         <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoadingProject" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->
        <div class="box-header with-border">
            <h3 class="box-title"><strong>{{ 'project.desc' | translate }}</strong></h3>
          </div><!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
                  <div class="mailbox-controls">
                  <!-- button add new project-->
                    <button class="btn btn-default btn-sm" ui-sref="app.project_detail({id: 'add'})"> <i class="fa fa-plus"></i></button>
                    <div class="pull-right">
                      <div class="btn-group">
                       <!--  <button class="btn btn-default btn-sm" ng-class="prevPageDisabled()" ng-click="prevPage()">
                        <i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default btn-sm" ng-class="nextPageDisabled()" ng-click="nextPage()">
                        <i class="fa fa-chevron-right"></i></button> -->
                      </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                  </div> 
          <table class="table table-hover table-striped">
            <tr>
              <th class="col-xs-1">{{ 'project.index' | translate }}</th>
              <th class="col-xs-8">{{ 'project.name' | translate }}</th>
              <th class="col-xs-1">{{ 'project.users' | translate }}</th>
              <th class="col-xs-2">{{ 'project.detail' | translate }}</th>
            </tr>
            <tr ng-repeat="project in projects" >
              <td>{{ $index+1 }}</td>
              <td>{{ project.name }}</td>
              <td> {{ project.member }}</td>
              <td>
              <button ng-click="onDetail(project.id)" class="btn btn-primary btn-sm"><i class="fa fa-pencil" > </i></button>
              <!-- Disable button , delete logic-->
                     <div confirm-action on-confirm="onChange(project)" class = "pull-right"></div>
              </td>
            </tr>
          </table>
          </div><!-- /.box body-->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row-->
  </section><!-- /.content -->

</div><!-- /.box -->
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming" >
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"> <i class="fa fa-lock"></i></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
      <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-lock"></i></i></button>
    </div>
  </div>
</script>
