
<div data-ng-init="initReport()">

  <section class="content-header">
    <h1>
     {{ pageHeader }}
      <small>{{ pageDesc }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a ui-sref="app.report_missing_user({month: month})"><i class="fa fa-dashboard"></i> {{ 'report.missing' | translate }}</a></li>
      <li class="active">{{ 'report.daily' | translate }} </li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
        <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->

        <div class="box-header with-border">
           <h6 class="box-title" ng-show = "!isOldDay && !isCheckedMissing ">{{ 'report.daily' | translate }} : <a ng-click="getListReports()">{{ getDateTime()}}</a></h6>
            <h6 class="box-title" ng-show = "isOldDay&& !isCheckedMissing ">{{ 'report.day' | translate }} : {{ getDateTime()}}</h6>
            <h6 class="box-title" ng-show = "isCheckedMissing">{{ 'report.day' | translate }} : {{ getDateTime()}}</h6>
            <div class="pull-right " >
             Show report on: <a onaftersave="getListReports(search_day)" editable-text="search_day" e-name = "search_day" e-datepicker-popup="dd-MM-yyyy" e-show-weeks='false'>{{ getDateTime()|| today}}</a>
            </div>
          </div><!-- /.box-header -->
          <!-- Form Add Project Name -->
          <div class="box-body table-responsive no-padding">
             <div class="mailbox-controls">
                   <!--  <button class="btn btn-default btn-sm" ng-csv="reports" filename="report.csv" data-toggle="tooltip" title="export CSV"><i class="fa fa-file-excel-o"></i></button> -->

                    <button type="button" class="btn btn-primary btn-sm"  ng-show = "!isOverMonth"  ng-disabled="!isAdd" ng-click="newRow()" data-toggle="tooltip" title="Add New"><i class="fa fa-plus-square"></i> </button>

                     <!--morning meeting -->
                    <button type="button" class="btn btn-primary btn-sm"  ng-show = "!isOverMonth "  ng-disabled="!isAdd" ng-click="AddMeeting()" data-toggle="tooltip" title="Morning meeting"><i class="fa fa-sun-o"></i></button>

                    <!-- button day off -->
                    <button type="button" class="btn btn-primary btn-sm" ng-disabled="!isAdd" ng-show = "!isOverMonth  && !isDayoff" ng-click="onDayoff()" > {{ 'report.day_off' | translate }} </button>

                    <button type="button" class="btn btn-danger btn-sm"  ng-show = "!isOverMonth && isDayoff "ng-click="dayOff()" > {{ 'report.day_off' | translate }} </button>

                    <button type="button" class="btn btn-default btn-sm"  ng-show = "!isOverMonth && isDayoff"ng-click="cancelDayoff()" > <i class="fa fa-times-circle"> </i></button>

                    <button data-toggle="tooltip" data-placement="top" title="Please remove all reports this day before using duplicate day function !" type="button" class="btn btn-primary btn-sm" ng-click="duplicateDay(getDateTime()|| today)" > <i class="fa fa-exchange"></i> </i></button>

                    <!-- end of button dayoff-->
                    <div class="pull-right">
                    <button  class="btn btn-default btn-sm" ui-sref="app.report_search" data-toggle="tooltip" title="Search Advance "><i class="fa fa-search"></i></button>
                    </div><!-- /.pull-right -->
              </div> <!--/.mailbox-->
              <!--show messages error-->
              <div class="callout callout-danger" ng-show= "isMessages && colorShowMessages" >
                <a href="#" class="close color-fff" ng-click="deleteMessage()" aria-label="close" >&times;</a>
                <h4>Error!</h4>
                <ul >
                <li ng-repeat = "message in messages"> {{message}} </li>
                </ul>
              </div>
             <!--show messages  success-->
            <div  ng-show= "isMessages && !colorShowMessages" class="callout callout-info" >
                <a href="#" class="close color-fff" ng-click="deleteMessage()" aria-label="close">&times;</a>
                <ul >
                  <li ng-repeat = "message in messages"> <h4> {{message}} </h4></li>
                </ul>
            </div>
              <table class="table table-hover table-striped">
                  <tr>
                    <th style="width:7%">{{ 'report.from' | translate }} <small>(*)</small></th>
                    <th style="width:7%">{{ 'report.to' | translate }}<small>(*)</small></th>
                    <th style="width:8%">{{ 'report.hours' | translate }}</th>
                    <th style="width:8%">{{ 'report.project' | translate }}<small>(*)</small></th>
                    <th style="width:8%">{{ 'report.ticket' | translate }}</th>
                    <th style="width:8%">{{ 'report.category' | translate }}<small>(*)</small></th>
                    <th style="width:8%">{{ 'report.process' | translate }}<small>(*)</small></th>
                    <th style="width:28%">{{ 'report.note' | translate }}<small>(*)</small></th>
                    <th style="width:10%">{{ 'report.operation' | translate }}</th>
                    <th style="width:8% ; color: #b50707">Duplicate row</th>
                  </tr>
                  <tr ng-repeat="report in reports | orderBy:'-start_time' " >
                    <!-- From -->
                    <td >
                    <span editable-text="report.start_time" e-typeahead="time for time in times | filter:$viewValue | limitTo:8" e-placeholder="00:00" e-name="start_time" e-form="rowform">{{report.start_time}}</span></td>
                    <td >
                    <span editable-text="report.end_time" e-typeahead="time for time in times | filter:$viewValue | limitTo:8" e-placeholder="00:00" e-name="end_time" e-form="rowform">{{report.end_time}}</span></td>
                    <td e-form="rowform"> {{getCost(report.cost)}}</td>
                    <!-- editable  projects -->
                    <td ><span editable-select="report.project_id" e-name="project_id" e-form="rowform" e-ng-options="project.id as project.name for project in $storage.projects">{{findName(report.project_id, $storage.allProjects)}} </span>
                   </td>
                     <!-- editable  ticket -->
                    <td ng-show="report.ticket!=0 "> <span  editable-text="report.ticket" e-name="ticket" e-form="rowform" e-placeholder="Ticket No.">{{report.ticket }}  </span></td>
                    <td ng-show= "report.ticket ==0 "> <span  editable-text="report.ticket" e-name="ticket" e-form="rowform" e-placeholder="Ticket No."> -- </span></td>
                    <!-- editable  category -->
                    <td > <span editable-select="report.category_id" e-name="category_id" e-form="rowform" e-ng-options="category.id as category.name for category in $storage.categories">{{findName(report.category_id, $storage.categories)}}</span></td>
                    <!-- editable  process -->
                    <td > <span editable-select="report.process_id" e-name="process_id" e-form="rowform" e-ng-options="process.id as process.name for process in $storage.processes"> {{ findName(report.process_id, $storage.processes)}}</span></td>
                    <!-- editable  note -->
                    <td> <div class = "wraptext"><span editable-textarea="report.note" e-name="note" e-form="rowform" e-placeholder="Add Note" e-style = "width:100%">{{ report.note }}</span></div></td>

                    <!-- edit and delete action-->
                    <td style="white-space: nowrap"  >
                   <!-- form -->
                      <form editable-form name="rowform" onbeforesave="SaveUser($data, report.id, report)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == report">

                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm">
                        <i class="fa fa-floppy-o"></i> </button>

                        <button type="button"  ng-if= "!isNew && !isOldDay ||!isNew && isOldDay " ng-disabled="rowform.$waiting" ng-click="isCancel(rowform)" class="btn btn-default btn-sm">
                        <i class="fa fa-times-circle"> </i></button>

                         <button type="button" ng-if= "isNew && !isOldDay || isNew && isOldDay" ng-disabled="rowform.$waiting" ng-click="getOutRow(report)" class="btn btn-default btn-sm">
                        <i class="fa fa-times-circle"> </i></button>

                      </form>
                      <div class="buttons" ng-show="!rowform.$visible && !isOverMonth ">
                       <div confirm-action on-confirm="deleteRow(report)" id = "buttonEdit"></div>

                        <button  class="btn btn-primary btn-sm" ng-disabled="isNew" ng-click="isEdit(rowform)"><i class="fa fa-pencil"></i></button>

                      </div>
                    </td>
                    <td>
                        <!--Duplicate Row-->
                      <button   class="btn btn-primary btn-sm" ng-click="duplicateRow(report)"><i class="fa fa-code-fork"></i></button>

                    </td>
                  </tr><!-- end ng-repeat -->
                <tr>
                     <td colspan="3" align="right" style="text-align:center">
                       <strong> {{ 'report.total' | translate }}  {{total_report}} </strong>
                    </td>
                    <td colspan="10" ></td>
                </tr>

              </table><!-- /.table -->
            </div> <!--/.box-body-->
            <!-- END TABLE REPORTS -->
          </div> <!-- box box-primary -->
        </div><!--col -->
      </div><!--row -->
  </section>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"> <i class="fa fa-trash-o"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
       <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-trash-o"></i></button>
  </div>
</script>


