
<div data-ng-init="initMissingReports()">
  <section class="content-header">
        <h1 ng-show="pageHeader">
              {{ pageHeader }}
           <small>{{ pageDesc }}</small>
        </h1>
        <ol class="breadcrumb">
             <li><a ui-sref="app.report_main "><i class="fa fa-dashboard"></i>{{'report.input' | translate }}</a></li>
           <li class="active">{{ 'report.missing' | translate }}</li>
        </ol>
  </section>
    <!-- Main content -->
  <section class="content">
        <!-- search list reports -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-default">
              <!-- Loading (remove the following to stop the loading)-->
             <div ng-show="isLoading" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
               <!-- end loading -->
              <div class="box-header with-border">
              <h3 class="box-title"><strong> {{ 'report.search' | translate }} : {{year}}</strong></h3>
              </div><!-- /.box-header -->
            <!-- form search -->
            <div class="form-horizontal">
              <div class="box-body">
              <div class="form-group">
                    <label for="current_month" class="col-sm-2 control-label"> {{ 'report.current' | translate }}</label>
                    <div class="col-sm-3">
                     <h5><a ng-click = "getListReports()"> {{month}} </a> </h5>
                    </div>
                 </div><!-- /.form group -->
                <div class="form-group">
                    <label for="getmonth" class="col-sm-2 control-label"> {{ 'report.choose' | translate }}</label>
                    <div class="col-sm-2">
                    <select id="getmonth" ng-model="getmonth" ng-options="month.id as month.name for month in months" ng-init="getmonth = month"></select>
                    </div>
                 </div><!-- /.form group -->
              </div><!-- /.box-body -->
              <div class="box-footer">
                 <a ng-click="onSearchMissing()" class="btn btn-primary pull-right"><i class="fa fa-search"></i></a>
              </div><!-- /.box-footer -->
            </div>
          </div><!-- /.box -->
        </div><!-- /.col-->
      </div><!-- /.row -->
   <!-- table list reports -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-default">
        <div class="box-header with-border">
           <h3 class="box-title"><strong>{{ 'report.missing' | translate }}</strong></h3>
          </div><!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
                  <div class="mailbox-controls">
                  <!-- button user name-->
                  <!--   <button class="btn btn-default btn-sm" ng-csv="reports" filename="missing_report.csv" data-toggle="tooltip" title="export CSV"><i class="fa fa-file-excel-o"></i></button> -->
                    <div class="pull-right">
                      <div class="btn-group">
                        <!-- <button class="btn btn-default btn-sm" ng-class="prevPageDisabled()" ng-click="prevPage()"> -->
                        <!-- <i class="fa fa-chevron-left"></i></button> -->
                        <!-- <button class="btn btn-default btn-sm" ng-class="nextPageDisabled()" ng-click="nextPage()"> -->
                        <!-- <i class="fa fa-chevron-right"></i></button> -->
                      </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                  </div><!-- /.mail box -->

          <table class="table table-hover table-striped">

            <tr >
              <th> Index </th>
              <th style="width:20%">{{ 'report.member' | translate }}</th>
              <th style="width:40%">{{ 'report.dayoff' | translate }}</th>
              <th style="width:40%">{{ 'report.forgot' | translate }}</th>
            </tr>
            <tr ng-repeat="report in reports| orderBy:'dayoff.length' ">
            <th>{{ $index+1 }}</th>
            <td ng-show = "!isDeleted"> {{findName(report.user_id,$storage.allUsers)}}</td>
            <td ng-show = "isDeleted" > <strike>{{findName(report.user_id,$storage.allUsers)}} </strike></td>
            <td style="white-space: nowrap">
             <form editable-form name="dayoff" ng-show="dayoff.$visible" class="form-buttons form-inline">
                <button ng-disabled="dayoff.$waiting" class="btn btn-default btn-sm" ng-repeat = "dayoff in report.day_off">
                {{dayoff}} </button>
             </form>
            <a ng-click="dayoff.$show()" ng-show="!dayoff.$visible">{{report.day_off.length}} </a>
            </td>
            <td style="white-space: nowrap">
             <form editable-form name="forgot" ng-show="forgot.$visible" class="form-buttons form-inline">
                <button ng-disabled="forgot.$waiting" class="btn btn-default btn-sm" ng-repeat = "day_forget in report.day_forget">
                {{day_forget}} </button>
             </form>
            <a ng-click="forgot.$show()" ng-show="!forgot.$visible">{{report.day_forget.length}} </a> 
            </td>
            </tr>
          </table>
          </div><!-- /.box body-->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row-->
  </section><!-- /.content -->
</div><!-- /.box -->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

