<div data-ng-init="initUserMissingReports()">
  <section class="content">
  <div class="row">
      <div class="col-xs-12">
        <div class="box box-default">
        <div class="box-header with-border">
           <h3 class="box-title"><strong>{{ 'report.missing' | translate }}</strong></h3>
          </div><!-- /.box-header -->
         <!-- Loading (remove the following to stop the loading)-->
             <div ng-show="isLoading" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
               <!-- end loading -->
          <table class="table table-hover table-striped">
            <tr>
              <th>{{ 'report.day' | translate }}</th>
              <th colspan="2">{{ 'report.reason' | translate }}</th>
            </tr>
            <tr ng-if ="isCurrent" ng-repeat="missing_day in localMissing.dataMissing ">
              <td>{{year}}/{{month}}/{{missing_day.day}}</td>
              <td> <button class="btn btn-primary btn-sm" ui-sref="app.report_main({day:missing_day.day,month:month})">{{ 'report.for_got' | translate }}</button></td>
              <td> <div confirm-action on-confirm="onDayOff(month, missing_day.day, year)" ng-show ="missing_day.status" ></div> </td>
          </tr>
          <tr ng-if ="isBefore"  ng-repeat="missing_day in localMissing.dataMissing1 ">
              <td>{{year}}/{{month-1}}/{{missing_day.day}}</td>
              <td> <button class="btn btn-primary btn-sm" ui-sref="app.report_main({day:missing_day.day,month:month-1})">{{ 'report.for_got' | translate }}</button> </td>
              <td> <div confirm-action on-confirm="onDayOff(month-1, missing_day.day, year)" ng-show ="missing_day.status" ></div> </td>
            </tr>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section>
</div>
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming" >
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()">{{ 'report.day_off' | translate }}</button>
    </div>
    <div ng-show="isConfirming">
    <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> {{ 'report.day_off' | translate }}</button>
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
  </div>
</script>
