
<div data-ng-init="initSearchReports()">
  <section class="content-header">
        <h1 ng-show="pageHeader">
              {{ pageHeader }}
           <small>{{ pageDesc }}</small>
        </h1>
        <ol class="breadcrumb">
             <li><a ui-sref="app.report_main "><i class="fa fa-dashboard"></i>{{ 'report.input' | translate }}</a></li>
           <li class="active">{{ 'report.search' | translate }}</li>
        </ol>
  </section>
    <!-- Main content -->
  <section class="content">
        <!-- search list reports -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-default">
              <div class="box-header with-border">
              <h3 class="box-title"><strong>{{ 'report.search' | translate }}</strong></h3>
              </div><!-- /.box-header -->
            <!-- form search -->
            <div class="form-horizontal" id = "search_form">
              <div class="box-body">
                <div class="form-group">
                  <label for="date_range" class="col-sm-1 control-label">{{ 'report.date' | translate }}: </label>
                    <div class="col-sm-4">
                     <button class="btn btn-default pull-right" id="date_range">
                     <i class="fa fa-calendar"></i> <span ng-show = "hasStartEnd"> </span>
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                  <label for="search_process" class="col-sm-1 control-label"> {{ 'report.process' | translate }}:  </label>
                  <div class="col-sm-4">
                    <select type="text" class="form-control" id="search_process" ng-model="search_process"  data-ng-options="process.id as process.name for process in $storage.processes"> 
                    <option value=""> -- </option></select>
                  </div>
                 </div><!-- /.form group -->
                <div class="form-group">
                  <label for="search_project" class="col-sm-1 control-label">{{ 'report.project' | translate }}: </label>
                  <div class="col-sm-4">
                    <select type="text" class="form-control" id="search_project" ng-model="search_project" data-ng-options="project.id as project.name for project in $storage.projects">
                    <option value=""> -- </option>
                  </select>
                  </div>
                    <label for="search_type" class="col-sm-1 control-label"> {{ 'report.type' | translate }}:  </label>
                  <div class="col-sm-4">
                    <select type="text" class="form-control" id="search_type" ng-model="search_type" placeholder=" {{ 'report.type' | translate }} " data-ng-options=" type.id as type.name for type in types"> <option value=""> -- </option></select>
                  </div>
                </div><!-- /.form group -->
                <div class="form-group">
                  <label for="search_ticket" class="col-sm-1 control-label"> {{ 'report.ticket' | translate }}:  </label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="search_ticket" ng-model="search_ticket" placeholder="{{ 'report.ticket' | translate }} ">
                  </div>
                  <label for="search_category" class="col-sm-1 control-label"> {{ 'report.category' | translate }}:  </label>
                  <div class="col-sm-4">
                   <select type="text" class="form-control" id="search_category" ng-model="search_category" data-ng-options="category.id as category.name for category in $storage.categories"> 
                   <option value=""> -- </option>
                   </select>
                   </div>
                  </div><!-- /.form group -->
                <div class="form-group"  ng-show = " $storage.premission == 1">
                  
                  <label  for="search_name" class="col-sm-1 control-label">{{ 'report.member' | translate }}: </label>
                  <div class="col-sm-4">
                    <select type="text" class="form-control" id="search_member" ng-model="search_member"  data-ng-options="user.id as user.name for user in $storage.users">
                    <option value=""> -- </option>
                  </select>
                  </div>
                </div><!-- /.form group -->

                <div class="form-group"  ng-show = " $storage.premission == 1">

                  <label  for="search_name" class="col-sm-1 control-label">Note: </label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="key_note" ng-model="key_note" placeholder="note">
                  </div>
                </div><!-- /.form group -->

              </div><!-- /.box-body -->
              <div class="box-footer">
                 <a ng-click="onClickSearch()" class="btn btn-primary pull-right" id= "searchBtn"><i class="fa fa-search"></i> </a>
                  <a ng-click="onClear()" class="btn btn-danger pull-right" id = "buttonEdit" ><i class="fa fa-times-circle"></i> </a>
              </div><!-- /.box-footer -->
            </div>
          </div><!-- /.box -->
        </div><!-- /.col-->
      </div><!-- /.row -->
   <!-- table list reports -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-default">
        <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->

        <div class="box-header with-border">
           <h3 class="box-title"><strong>{{ 'report.title' | translate }}</strong></h3>
          </div><!-- /.box-header -->
          <div class="box-body  table-responsive no-padding">
                <div class="mailbox-controls">
                  <div class="box-body">
                  <strong  >
                    {{ 'report.show' | translate }} </strong>
                     <span editable-select="reportsPerPage" onaftersave="getListReports(currentPage)" e-name="reportsPerPage"  e-ng-options="reportsperpage.id as reportsperpage.name for reportsperpage in $storage.reportsperpages">{{reportsPerPage}}</span><br />
                     <strong  >Total: {{totalTimeReport}} hours</strong>

                    <div class="pull-right">
                      <div class="btn-group">
                      <!-- <button class="btn btn-default btn-sm" ng-csv="reports" filename="report.csv" data-toggle="tooltip" title="export CSV"><i class="fa fa-file-excel-o"></i></button> -->
                        <button class="btn btn-default btn-sm" ng-class="prevPageDisabled()" ng-click="prevPage()">
                        <i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default btn-sm" ng-class="nextPageDisabled()" ng-click="nextPage()">
                        <i class="fa fa-chevron-right"></i></button>
                      </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div><!-- /.box body -->
                </div> <!-- /.mail box -->
                <!--show messages error-->
                <div  ng-show= "isMessages && colorShowMessages" class="alert alert-warning fade in bold-css ">
                  <a href="#" class="close" ng-click="deleteMessage()" aria-label="close">&times;</a>
                  <ul >
                  <li ng-repeat = "message in messages"> {{message}} </li>
                  </ul>
              </div>
               <!--show messages  success-->
              <div  ng-show= "isMessages && !colorShowMessages" class="alert alert-success fade in bold-css">
                  <a href="#" class="close" ng-click="deleteMessage()" aria-label="close">&times;</a>
                  <ul >
                  <li ng-repeat = "message in messages"> {{message}} </li>
                  </ul>
              </div>
          <table class="table table-hover table-striped">
            <tr>
              <th style="width:11%">{{ 'report.member' | translate }}</th>
              <th style="width:7%">{{ 'report.date' | translate }}</th>
              <th style="width:5%">{{ 'report.from' | translate }}<small>(*)</small></th>
              <th style="width:5%">{{ 'report.to' | translate }}<small>(*)</small></th>
              <th style="width:6%">{{ 'report.hours' | translate }}</th>
              <th style="width:7%">{{ 'report.project' | translate }}<small>(*)</small></th>
              <th style="width:7%">{{ 'report.ticket' | translate }}</th>
              <th style="width:7%">{{ 'report.category' | translate }}<small>(*)</small></th>
              <th style="width:7%">{{ 'report.process' | translate }}<small>(*)</small></th>
              <th style="width:16%">{{ 'report.note' | translate }}<small>(*)</small></th>
              <th style="width:7%">{{ 'report.type' | translate }}</th>
             <!--  <th style="width:15%">{{ 'report.operation' | translate }}</th> -->
            </tr>
            <tr ng-repeat="report in reports | orderBy:'-date'">
              <td>{{findName(report.user_id, $storage.allUsers, true)}}</td>
              <td>{{getTime(report.date)}}</td>
              <td>
               <span editable-text="report.start_time" e-typeahead="time for time in times | filter:$viewValue | limitTo:8" e-placeholder="00:00" e-name="start_time" e-form="rowform" >{{report.start_time}}</span></td>
              <td>
              <span editable-text="report.end_time" e-typeahead="time for time in times | filter:$viewValue | limitTo:8" e-placeholder="00:00" e-name="end_time" e-form="rowform">{{report.end_time}}</span></td>
              <td e-form="rowform"> {{getCost(report.cost)}}</td>
              <!-- editable  projects -->
              <td><span editable-select="report.project_id" e-name="project_id" e-form="rowform" e-ng-options="project.id as project.name for project in $storage.projects">{{findName(report.project_id, $storage.allProjects)}} </span>
              </td>
              <!-- editable  ticket -->
              <td ng-show="report.ticket!=0"> <span  editable-text="report.ticket" e-name="ticket" e-form="rowform" e-placeholder="Ticket No.">{{report.ticket }}  </span></td>
              <td ng-show= "report.ticket ==0"> <span  editable-text="report.ticket" e-name="ticket" e-form="rowform" e-placeholder="Ticket No."> -- </span></td>
              <!-- editable  category -->
              <td > <span editable-select="report.category_id" e-name="category_id" e-form="rowform" e-ng-options="category.id as category.name for category in $storage.categories">{{findName(report.category_id, $storage.categories)}}</span></td>
              <!-- editable  process -->
              <td > <span editable-select="report.process_id" e-name="process_id" e-form="rowform" e-ng-options="process.id as process.name for process in $storage.processes"> {{ findName(report.process_id, $storage.processes)}}</span></td>
              <!-- editable  note -->
              <td> <div class = "wraptext"><span editable-textarea="report.note"  e-name="note" e-form="rowform" e-placeholder="Add Note">{{ report.note }}</span></div></td>
              <td > {{findName(report.type, types)}} </td>
              <!-- edit and delete action-->
              <!-- <td style="white-space: nowrap"> -->
                <!-- form -->
               <!--  <form editable-form name="rowform" onbeforesave="SaveUser($data, report.id ,report)" ng-show="rowform.$visible" class="form-buttons form-inline">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm">
                 <i class="fa fa-floppy-o"></i> </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="isCancel(rowform)" class="btn btn-default btn-sm">
                 <i class="fa fa-times-circle"> </i></button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible && !isNotUser && !isOverMonth && (report.type == 0 || report.type ==1 || report.type ==2) ">
                  <button  id = "buttonEdit" class="btn btn-primary btn-sm" ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
                  <div confirm-action on-confirm="onDelete(report)"></div>
                </div> -->
             <!--  </td> -->
            </tr>
          </table>
          </div><!-- /.box body-->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row-->
  </section><!-- /.content -->
</div><!-- /.box -->
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming" >
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"> <i class="fa fa-trash-o"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
       <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-trash-o"></i></button>
  </div>
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script>
$(document).ready(function () {
    $('#reservation').daterangepicker();
      //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
      //Date range as a button
    $('#date_range').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
      function (start, end) {
         $('#date_range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         var element = angular.element($('#search_form'));
          var controller = element.controller();
          var scope = element.scope();
         scope.$apply(function(){
           var start_time = start.toISOString();
           var end_time = end.toISOString();
           var data = [];
           if(scope.search_project){
            data ['search_project'] = scope.search_project;
           } else {
            data ['search_project'] = document.getElementById("search_project").value.substr(7,8);
           }
           if(scope.search_member){
            data ['search_member'] = scope.search_member;
          } else {
            data ['search_member'] = document.getElementById("search_member").value.substr(7,8);
          }
          if(scope.search_ticket){
            data ['search_ticket'] =scope.search_ticket;
          } else {
             data ['search_ticket'] = document.getElementById("search_ticket").value;
          }
          if(scope.search_category){
            data ['search_category'] = scope.search_category;
          } else {
            data ['search_category'] = document.getElementById("search_category").value.substr(7,8);
          }
          if(scope.search_process){
            data ['search_process'] = scope.search_process;
          } else {
             data ['search_process'] = document.getElementById("search_process").value.substr(7,8);
          }
          if(scope.search_type){
            data ['search_type'] = scope.search_type;
          } else {
             data ['search_type'] = document.getElementById("search_type").value.substr(7,8);
          }
          scope.onSearchReport(start_time, end_time, data);

          });
         });
 });
 </script>
