<div data-ng-init="initAdminChangePassword()">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{ 'change_password.change_title' | translate }} </h4>
      </div>
      <div class="modal-body">
        <!--form regsiter-->
        <div class="register-box-body">
          <p class="login-box-msg"></p>
        <form name ="changePasswordForm" novalidate>

            <!--  new Password-->
            <div class="form-group has-feedback">
                <input type="password" 
                       ng-model="password" 
                       name="password" 
                       class="form-control"
                       placeholder="{{ 'change_password.new_password' | translate }}" required ng-minlength="6"
                       validator="minlength=6" valid-method="blur" id="password"
                       message-id="reg_form_newpassword"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div id="reg_form_newpassword"></div>
             <!-- Error new Password-->


            <!--  new Password-->
            <div class="form-group has-feedback">
                <input type="password" 
                       ng-model="password_confirmation" 
                       name="password_confirmation" 
                       class="form-control"
                       placeholder="{{ 'change_password.new_password' | translate }}" required
                       pw-check="password"
                       message-id="reg_form_password_confirmation"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div ng-show="changePasswordForm.$error">
              <p class="validation-invalid" ng-show="changePasswordForm.password_confirmation.$error.pwmatch">
                {{ 'users.match' | translate }}
              </p>
             </div>
             <!-- Error new Password-->



            </div>
      </div>
      <div class="modal-footer">
        <button ng-click="onChangePass(id)" class="btn btn-primary pull-right" ng-disabled="changePasswordForm.$invalid"><i class="fa fa-floppy-o"></i>
            </button>
            <button ui-sref="app.user()" class="btn btn-default pull-left" ><i class="fa fa-times-circle"></i></button>
      </div>
      </form><!--End form submitsubmit-->
    </div>
    <!-- /.modal-content -->
  </div>
</div>
        