<div data-ng-init="initEditUser()"><br/>
<div class="container">
  <div class="box box-top-null">
    <div class="box-header with-border">
    <h3 class="box-title">{{ 'users.edit' | translate }}</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" name="edit-user-form">
    <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{ 'login.email' | translate }}</label>
          <div class="col-sm-10">
            <input type="email" ng-model="userDetail.email" class="form-control" placeholder="Email" 
            ng-minlength="6" validator="email" valid-method="blur" message-id="edit_form_email"
            > 
          </div>
        </div>
        <div id="edit_form_email"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">{{ 'project.name' | translate }}</label>
          <div class="col-sm-10">
            <input type="text" ng-model="userDetail.name" class="form-control" placeholder="Name" 
            ng-minlength="1" validator="minlength=1" valid-method="blur" message-id="edit_form_name"
            > 
          </div>
        </div>
        <div id="edit_form_name"></div>

    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-default" ng-click="redirectDashboard()"><i class="fa fa-times-circle"></i></button>
      <button type="submit" class="btn btn-primary pull-right" ng-click="updateDetailUser('admin')"><i class="fa fa-floppy-o"></i></button>
    </div>
    </form>
  </div>
</div>
</div>
