<div class="register-box" data-ng-init = "initForgotPassword()">
  <div class="register-logo">
    <a ui-sref="app.login"><b>Nadia</b>TMS</a>
  </div>
  <div class="register-box-body">
    <!-- Loading (remove the following to stop the loading)-->
          <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->
    <p class="login-box-msg">{{ 'forgot.forgot_title' | translate }}</p>
    <div id="forgot_form" name="forgot_form">
    <form ng-submit="send_email">
      <!-- Email Form  -->
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" ng-model="email" validator="required">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <!-- Buttons -->
      <div class="row">
        <div class="col-xs-8">    
          <a ui-sref="login" class="text-center">{{ 'register.login_account' | translate }}</a><br/>
          <!-- <a ui-sref="register" class="text-center">{{ 'login.register' | translate }}</a>                         -->
        </div><!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="onForgot()" ng-disabled = "isLoading"> <i class="fa fa-paper-plane"></i></button>
        </div><!-- /.col -->
      </div>
      </form>
    </div>        
      
  </div><!-- /.form-box -->
</div>