<div class="login-box" data-ng-init="initLogin()">
    <div class="login-logo">
        <a href="javascript:void(0)"><b>{{ 'common.nadia' | translate }}</b>{{ 'common.tms' | translate }}</a>
    </div>
    <!-- /.login-logo -->

    <div class="login-box-body">
    <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->
        <p class="login-box-msg">{{ 'login.signin_title' | translate }}</p>

        <form name="tms_login_form" ng-enter="">
            <!-- Email-->
            <div class="form-group has-feedback">
                <input type="email" ng-model="email" name="email" class="form-control"
                       placeholder="{{ 'login.email' | translate }}" validator="email" valid-method="blur"
                       message-id="tms_login_email"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div id="tms_login_email"></div>
            <!-- Error Email-->
            <!--<div class="alert alert-warning" ng-show="loginForm.email.$error.required && loginForm.email.$dirty">{{
                'login.email_required' | translate }}
            </div>
            <div class="alert alert-warning" ng-show="loginForm.email.$error.email">{{'login.email_error' | translate
                }}
            </div>-->
            <!-- Password-->
            <div class="form-group has-feedback">
                <input type="password" ng-model="password" name="password" class="form-control"
                       placeholder="{{ 'login.password'| translate }}" required ng-minlength="6"
                       validator="minlength=6" valid-method="blur"
                       message-id="tms_login_password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div id="tms_login_password"></div>
            <!--  Error Password-->
            <!--<div class="alert alert-warning" ng-show="loginForm.password.$error.minlength">{{'login.password_min' |
                translate }}
            </div>
            <div class="alert alert-warning" dir=""
                 ng-show="loginForm.password.$error.required && loginForm.password.$dirty">{{ 'login.password_required'
                | translate }}
            </div>-->
            <!--  check remember me-->
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> {{ 'login.remember_me' | translate }}
                        </label>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <button ng-click="loginForm.submit(tms_login_form)"  ng-disabled = "isLoading" class="btn btn-flat btn-primary pull-right">
            {{ 'login.signin' | translate }}
        </button>

        <div class="social-auth-links">
            <a ui-sref="forgot_password">{{ 'login.forgot_password' | translate }}</a><br>
        </div>
        <!-- /.social-auth-links -->
    </div>
    <!-- /.login-box-body -->
</div><!-- /.login-box -->
