<div data-ng-init="initProfile()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{ 'users.profile' | translate }} </h4>
      </div>
      <div class="modal-body">
        <!--form regsiter-->
        <div class="register-box-body">
          <p class="login-box-msg"></p>
          <form class="form-horizontal" name ="register" novalidate>

            <div class="box-body">

            <div class="form-group">
              <label class="col-sm-2 control-label">{{ 'login.email' | translate }}</label>
              <div class="col-sm-10">
                <p style="padding-top:5px;">{{userDetail.email}}</p>
              </div>
            </div>
            <div id="edit_form_email"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">{{ 'project.name' | translate }}</label>
              <div class="col-sm-10">
                <input type="text" ng-model="userDetail.name" class="form-control" placeholder="Name" 
                ng-minlength="1" validator="minlength=1" valid-method="blur" message-id="edit_form_name"
                >
              </div>
            </div>
            <div id="edit_form_name"></div>

          </div><!-- /.box-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="changepass()"><i class="fa fa-key"></i></button>
        <button type="submit" class="btn btn-primary" ng-click="updateDetailUser('profile')"><i class="fa fa-floppy-o"></i></button>
      </div>
      </form><!--End form submitsubmit-->
    </div>
    <!-- /.modal-content -->
  </div>
</div>
