<div data-ng-init="initRegister()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'users.form_add' | translate }}</h4>
      </div>
      <div class="modal-body">
        <!--form regsiter-->
        <div class="register-box-body">
          <p class="login-box-msg"></p>
          <form action="#" method="post" name ="register" novalidate>

            <!-- Name  Form-->
            <div class="form-group has-feedback">
             <input type="text" 
                    ng-model="name" 
                    name="name" 
                    class="form-control"
                    placeholder="name" 
                    required 
                    ng-minlength="1"
                    validator="minlength=1" 
                    valid-method="blur"
                    message-id="name_error"
              />
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
             <div id="name_error"></div>


            <!-- Email Form  -->
            <div class="form-group has-feedback">
              <input type="email" 
                     name="email" 
                     class="form-control"
                     placeholder="{{ 'login.email' | translate }}" 
                     ng-model="email"
                     validator="email" 
                     valid-method="blur"
                     message-id="tms_login_email"/>
               <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div id="tms_login_email"></div>
            <!--End email-->



            <!-- Password-->
            <div class="form-group has-feedback">
                <input type="password" 
                       ng-model="password" 
                       name="password" 
                       class="form-control"
                       placeholder="password" required ng-minlength="6"
                       validator="minlength=6" valid-method="blur"
                       message-id="reg_form_password"
                       id="password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div id="reg_form_password"></div>


            <!--password_confirmation-->
            <div class="form-group has-feedback">
              <input  type="password" 
                      ng-model="password_confirmation" 
                      name="password_confirmation" 
                      class="form-control" pw-check="password"
                      placeholder="password" required
                  >
              <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>

             <div ng-show="register.$error">
              <p class="validation-invalid" ng-show="register.password_confirmation.$error.pwmatch">
                {{ 'users.match' | translate }}
              </p>
             </div>

            <div id="password_confirmation_error"> </div>

            </div>
            <!--end regsiter-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="redirectDashboard()"><i class="fa fa-times-circle"> </i></button>
        <button type="submit" class="btn btn-primary" ng-click="saveRegister()"><i class="fa fa-user-plus"></i></button>
      </div>
      </form><!--End form submitsubmit-->
    </div>
    <!-- /.modal-content -->
  </div>
</div>
