<div data-ng-init="initUserBlock()">
<section class="content-header">
    <h1>
     {{ pageHeader }}
      <small>{{ pageDesc }}</small>
    </h1>

  </section>  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <!-- Loading (remove the following to stop the loading)-->
           <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->
          <div class="box-header">
            <h3 class="box-title">{{ 'users.list' | translate }}</h3>
            <div class="box-tools">
              <div class="input-group" style="width: 150px;">
                <div class="input-group-btn">
                 <button class="btn btn-sm btn-default pull-right" ng-click="backUser()" data-toggle="modal" data-target="#reg" ><i class="fa fa-users"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>{{ 'users.name' | translate }}</th>
                  <th>{{ 'login.email' | translate }}</th>
                  <th class="col-xs-1">{{ 'users.unlock' | translate }}</th>
                </tr>
                <tr ng-repeat="user in userBlock">
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>

                  <td> <div confirm-action on-confirm="unLockUser(user.id)"></div> </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</div>
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming" >
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()">  <i class="fa fa-unlock-alt"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
      <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-unlock-alt"></i></button>
    </div>
  </div>
</script>
