<div data-ng-init="initDataUser()">
<section class="content-header">
    <h1>
     {{ pageHeader }}
      <small>{{ pageDesc }}</small>
    </h1>

  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <!-- Loading (remove the following to stop the loading)-->
           <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->
          <div class="box-header with-border">
            <h3 class="box-title">{{ 'users.list' | translate }}</h3>
            </div><!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
              <div class="mailbox-controls">
                <div class="box-body">
                 <div class="search-form col-xs-2">
                    <div class="input-group">
                      <input type="text" ng-model="searchText"  name="search" class="form-control" placeholder="{{ 'users.text' | translate }}">
                      <div class="input-group-btn">
                        <button type="submit" name="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                      </div>
                    </div><!-- /.input-group -->
                  </div>
                <!--  <button class="btn btn-default btn-sm"  id = "buttonEdit" ng-csv="reports" filename="report.csv" data-toggle="tooltip" title="export CSV"><i class="fa fa-file-excel-o"></i></button> -->
                    <div class=" pull-right ">
                      <div class="btn-group">
                       <button  id = "buttonEdit" class="btn btn-sm btn-primary pull-right" ng-click="addNewUser()" data-toggle="modal" data-target="#reg" ><i class="fa fa-user-plus"></i></button>
                       <button   id = "buttonEdit" class="btn btn-sm btn-default pull-right" ng-click="unlockUserLink()" data-toggle="modal" data-target="#reg" ><i class="fa fa-user"></i>&nbsp;&nbsp;<i class="fa fa-unlock-alt"> </i></button>
                    </div> <!-- /.btn-group -->
                    </div> <!-- /.pull-right -->
                
                </div><!-- /.box body -->
              
                  </div> <!-- /.mail box -->
                   <div  ng-show= "isMessages" class="alert alert-default fade in " style= "background-color: #edc0b8">
                    <a href="#" class="close" ng-click="deleteMessage()" aria-label="close">&times;</a>
                    <ul >
                    <li ng-repeat = "message in messages"> {{message}} </li>
                    </ul>
               </div>
          <!-- /.box-header -->
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th></th>
                  <th>{{ 'users.name' | translate }}</th>
                  <th>{{ 'login.email' | translate }}</th>
                  <th class="col-xs-2">{{ 'users.edit' | translate }}</th>
                  <th class="col-xs-2">{{'users.lock' | translate }}</th>
                </tr>

                <tr ng-repeat="user_detail in userDetail|filter:searchText |orderBy: 'name'">
                  <th>{{ $index+1 }}</th>
                  <td>{{user_detail.name}}</td>
                  <td>{{user_detail.email}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm ng-click-active" ng-click="onclickEditUser(user_detail.id)"><i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-primary btn-sm ng-click-active" ng-click="onclickEditPassUser(user_detail.id)"><i class="fa fa-key"></i>
                    </button>
                  </td>
                  <td> <div ng-if="user_detail.id != user.id" confirm-action on-confirm="onDeleteUser(user_detail.id)"></div> </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</div>
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming" >
    <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"> <i class="fa fa-lock"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
      <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-lock"></i></button>
    </div>
  </div>
</script>
