
<div data-ng-init="initOvertimeManagement()">
  <section class="content-header">
        <h1 ng-show="pageHeader">
              {{ pageHeader }}
           <small>{{ pageDesc }}</small>
        </h1>
        <ol class="breadcrumb">
             <li><a ui-sref="app.report_main "><i class="fa fa-dashboard"></i>{{ 'report.daily' | translate }}</a></li>
           <li class="active">{{ 'menus.overtime' | translate }}</li>
        </ol>
  </section>
    <!-- Main content -->
  <section class="content">
        <!-- search list reports -->
        <div class="row" >
          <div class="col-xs-12">
            <div class="box box-default">
              <div class="box-header with-border">
              <h3 class="box-title"><strong>{{ 'menus.overtime' | translate }}</strong></h3>
              </div><!-- /.box-header -->
            <!-- form search -->
            <div class="form-horizontal" id = "search_form">
              <div class="box-body">
                <div class="form-group">
                 <label for="date_range" class="col-sm-1 control-label">{{ 'report.date' | translate }}: </label>
                    <div class="col-sm-2">
                     <button class="btn btn-default pull-right" id="date_range">
                     <i class="fa fa-calendar"></i> <span ng-show = "hasStartEnd"> </span>
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                  <label for="search_type" class="col-sm-1 control-label"> {{ 'report.type' | translate }}:  </label>
                  <div class="col-sm-2">
                    <select type="text" class="form-control" id="search_type" ng-model="search_type" placeholder=" {{ 'report.type' | translate }} " data-ng-options=" type.id as type.name for type in types">
                    <option value=""> -- </option></select>
                  </div>
                  <label ng-show = "$storage.premission ==1" for="search_project" class="col-sm-1 control-label">{{ 'report.project' | translate }}: </label>
                  <div class="col-sm-2" ng-show = "$storage.premission ==1">
                    <select type="text" class="form-control" id="search_project" ng-model="search_project" data-ng-options="project.id as project.name for project in $storage.projects">
                    <option value=""> -- </option>
                  </select>
                  </div>
                    <label  ng-show = "$storage.premission ==1" for="search_name" class="col-sm-1 control-label">{{ 'report.member' | translate }}: </label>
                  <div class="col-sm-2" ng-show = "$storage.premission ==1">
                    <select type="text" class="form-control" id="search_member" ng-model="search_member"  data-ng-options="user.id as user.name for user in $storage.users">
                  <option value=""> -- </option></select>
                  </div>
                  
                </div><!-- /.form group -->
              
              </div><!-- /.box-body -->
              <div class="box-footer">
                 <a ng-click="onClickSearch()" class="btn btn-primary pull-right" id= "searchBtn"><i class="fa fa-search"></i> </a>
                 <a ng-click="onClear()" class="btn btn-danger pull-right" id= "buttonEdit"><i class="fa fa-times-circle"></i> </a>
                 
              </div><!-- /.box-footer -->
            </div>
          </div><!-- /.box -->
        </div><!-- /.col-->
      </div><!-- /.row -->
   <!-- table list reports -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-default">
        <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->

        <div class="box-header with-border">
           <h3 class="box-title"><strong>{{ 'report.title' | translate }}</strong></h3>
          </div><!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
              <div class="mailbox-controls">
                <div class="box-body" ng-show = "isPagination">
                  <strong  >
                    {{ 'report.show' | translate }} </strong>
                     <span editable-select="reportsPerPage" onaftersave="getListReports(currentPage)" e-name="reportsPerPage"  e-ng-options="reportsperpage.id as reportsperpage.name for reportsperpage in $storage.reportsperpages">{{reportsPerPage}}</span>
                    <div class=" pull-right ">
                      <div class="btn-group" style="margin-right: 106px;">

                        <button type="button" ng-show = "$storage.premission ==1" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Export xlxs <span class="fa fa-caret-down">
                        </span></button>
                        <ul class="dropdown-menu">
                          <li><a ng-click="Export(1)"  href="#">January</a></li>
                          <li><a ng-click="Export(2)"  href="#">February</a></li>
                          <li><a ng-click="Export(3)"  href="#">March</a></li>
                          <li><a ng-click="Export(4)"  href="#">April</a></li>
                          <li><a ng-click="Export(5)"  href="#">May</a></li>
                          <li><a ng-click="Export(6)"  href="#">June</a></li>
                          <li><a ng-click="Export(7)"  href="#">July</a></li>
                          <li><a ng-click="Export(8)"  href="#">August</a></li>
                          <li><a ng-click="Export(9)"  href="#">September</a></li>
                          <li><a ng-click="Export(10)" href="#">October</a></li>
                          <li><a ng-click="Export(11)" href="#">November</a></li>
                          <li><a ng-click="Export(12)" href="#">December</a></li>
                        </ul>

                      <!--  <button class="btn btn-default btn-sm"  id = "buttonEdit" ng-csv="reports" filename="report.csv" data-toggle="tooltip" title="export CSV"><i class="fa fa-file-excel-o"></i></button> -->
                        <!-- <button class="btn btn-default btn-sm" ng-class="prevPageDisabled()" ng-click="prevPage()">
                        <i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default btn-sm" ng-class="nextPageDisabled()" ng-click="nextPage()">
                        <i class="fa fa-chevron-right"></i></button> -->
                    </div> <!-- /.btn-group -->
                    </div> <!-- /.pull-right -->
                
                </div><!-- /.box body -->
              </div> <!-- /.mail box -->
                
          <table class="table table-hover table-striped">
            <tr>
              <th style="width:7%"  ng-show = "$storage.premission ==1">{{ 'report.member' | translate }}</th>
              <th style="width:8%">{{ 'report.date' | translate }}</th>
              <th style="width:7%">{{ 'report.from' | translate }}<small>(*)</small></th>
              <th style="width:7%">{{ 'report.to' | translate }}<small>(*)</small></th>
              <th style="width:6%">{{ 'report.hours' | translate }}</th>
              <th style="width:7%">{{ 'report.project' | translate }}<small>(*)</small></th>
              <th style="width:7%">{{ 'report.ticket' | translate }}</th>
              <th style="width:7%">{{ 'report.category' | translate }}<small>(*)</small></th>
              <th style="width:7%">{{ 'report.process' | translate }}<small>(*)</small></th>
              <th style="width:15%">{{ 'report.note' | translate }}<small>(*)</small></th>
              <th style="width:7%"  ng-show = "$storage.premission ==1">{{ 'report.accept' | translate }}</th>
              <th style="width:7%"  ng-show = "$storage.premission ==1">{{ 'report.reject' | translate }}</th>
              <th style="width:15%" ng-show = "$storage.premission !=1" >{{ 'report.operation' | translate }}</th>
              <th style="width:7% ; color: #b50707" >{{ 'report.type' | translate }}</th>
            </tr>
            <tr ng-repeat="report in reports | orderBy:'-date'">
              <td  ng-show = "$storage.premission ==1">{{findName(report.user_id, $storage.allUsers)}}</td>
              <td>{{getTime(report.date)}}</td>
              <td>{{report.start_time}}</td>
              <td>{{report.end_time}}</td>
              <td> {{getCost(report.cost)}}</td>
              <!-- editable  projects -->
              <td>{{findName(report.project_id, $storage.allProjects)}} </td>
              <!-- editable  ticket -->
              <td> {{report.ticket }}</td>
              <!-- editable  category -->
              <td > {{findName(report.category_id, $storage.categories)}}</td>
              <!-- editable  process -->
              <td > {{findName(report.process_id, $storage.processes)}}</td>
              <!-- editable  note -->
              <td> <div class = "wraptext">{{ report.note }}</div></td>
              <!-- edit and delete action-->
              <td ng-show = "!isAccept && report.type !=3 && $storage.premission ==1 ||report.type !=3 && $storage.premission ==1 ">  <div confirm-action on-confirm="acceptRow(report)"> </div></td>
              <td ng-show = "isAccept && report.type ==3 && $storage.premission ==1 ||report.type ==3 && $storage.premission ==1 "></td>
              <td style="white-space: nowrap" ng-show = "!isAccept && report.type !=3 && $storage.premission ==1 ||report.type !=3 && $storage.premission ==1" >
                   <!-- form -->
                      <div ng-show = "isRejectConfirm && idReject == report.id">
                        <a ng-click="rejectRow(report)" class="btn btn-danger btn-sm"><i class="fa fa-check"></i></a>
                        <a ng-click="isCancel()" class="btn btn-default btn-sm"><i class="fa fa-times-circle"> </i></a>
                      </div>
                      <div class="buttons" ng-show="!isRejectConfirm || idReject != report.id ">
                        <button  id = "buttonEdit" class="btn btn-default btn-sm" ng-click="isReject(report)"><i class="fa fa-times"></i></button>
                      </div>
              </td>
              <td ng-show = "isAccept && report.type ==3 && $storage.premission ==1 ||report.type ==3 && $storage.premission ==1 "></td>
              <td style="white-space: nowrap" ng-show = "$storage.premission !=1" >
                   <!-- form -->
                      <div ng-show = "isDeleteConfirm && report.type ==4 && idDelete == report.id">
                        <a ng-click="deleteRow(report)"  class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                        <a ng-click="isCancel()" class="btn btn-default btn-sm"><i class="fa fa-times-circle"> </i></a>
                      </div>
                      <div class="buttons" ng-show=" $storage.premission !=1 && !isDeleteConfirm ||idDelete != report.id ">
                        <button  ng-show = "report.type ==4" id = "buttonEdit" class="btn btn-default btn-sm" ng-click="isEdit(report)"><i class="fa fa-trash-o"></i></button>
                      </div>
              </td>
              <td>  {{findName(report.type, types)}} </td>
            </tr>
             <tr>
                     <td colspan="4" align="right" style="text-align:center">
                       <strong> {{ 'report.total' | translate }} {{total_report}} </strong>
                    </td>
                    <td colspan="9" ></td>
                </tr>
                <tr>
                     <td colspan="4" align="right" style="text-align:center">
                       <strong> {{ 'report.accept_total' | translate }}  {{accept_total}} </strong>
                       <button class="btn btn-default btn-sm" ng-click="isDetail()"><i class="fa fa-th-list"></i></button>
                       <button  ng-show= "detailWeekend" class="btn btn-default btn-sm" ng-click="isCancelDetail()"><i class="fa fa-times-circle"></i></button>
                    </td>
                    <td colspan="9" >
                        <strong ng-show= "detailWeekend"> {{ 'report.weekend_time' | translate }}  {{weekend}} </strong> <br>
                       <strong ng-show= "detailWeekend"> {{ 'report.daily_time' | translate }}  {{(accept_total - weekend).toFixed(2)}} </strong>
                    </td>
              </tr>
          </table>
          </div><!-- /.box body-->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row-->
  </section><!-- /.content -->
</div><!-- /.box -->
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming" >
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"><i class="fa fa-check"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
       <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-check"></i></button>
  </div>
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script>
$(document).ready(function () {
    $('#reservation').daterangepicker();
      //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
      //Date range as a button
    $('#date_range').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
          '20 Last M - 20 This M': [moment().subtract(1, 'month').startOf('month').subtract(-19, 'days'), 
                    moment().startOf('month').startOf('month').subtract(-19, 'days')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
     function (start, end) {
         $('#date_range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         var element = angular.element($('#date_range'));
          var controller = element.controller();
          var scope = element.scope();
         scope.$apply(function(){
           var start_time = start.toISOString();
           var end_time = end.toISOString();
           var data = [];
           if(scope.search_project){
            data ['search_member'] = scope.search_member;
           } else {
            data ['search_member'] = document.getElementById("search_member").value.substr(7,8);
           }
           if(scope.search_project){
            data ['search_project'] = scope.search_project;
           } else {
            data ['search_project'] = document.getElementById("search_project").value.substr(7,8);
           }
           if(scope.search_type){
            data ['search_type'] = scope.search_type;
          } else {
             data ['search_type'] = document.getElementById("search_type").value.substr(7,8);
          }
          scope.onSearchReport(start_time, end_time, data);

          });
         });
 });
 </script>

