
<div data-ng-init="initOverTime()">
  <section class="content-header">
        <h1 ng-show="pageHeader">
              {{ pageHeader }}
           <small>{{ pageDesc }}</small>
        </h1>
        <ol class="breadcrumb">
             <li><a ui-sref="app.report_main "><i class="fa fa-dashboard"></i>{{ 'report.daily' | translate }}</a></li>
           <li class="active">{{ 'menus.overtime' | translate }}</li>
        </ol>
        <br >
  </section>
  <section class="content">
  <!-- search list reports -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-default">
              <div class="box-header with-border">
              <h3 class="box-title"><strong>{{ 'menus.overtime' | translate }}</strong></h3>
              </div><!-- /.box-header -->
            <!-- form search -->
            <div class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                    <label for="date_range" class="col-sm-1 control-label">{{ 'report.date' | translate }}: </label>
                    <div class="col-sm-3">
                     <button class="btn btn-default pull-right" id="date_range">
                     <i class="fa fa-calendar"></i> <span ng-show = "hasStartEnd"> </span>
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                 </div><!-- /.form group -->
              </div><!-- /.box-body -->
              <div class="box-footer">
                 
              </div><!-- /.box-footer -->
            </div>
          </div><!-- /.box -->
        </div><!-- /.col-->
      </div><!-- /.row -->
   <!-- table list reports -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
        <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->

        <div class="box-header with-border">
           <h6 class="box-title" >{{ 'menus.overtime' | translate }}</h6> 
          </div><!-- /.box-header -->
          <!-- Form Add Project Name -->
          <div class="box-body table-responsive no-padding">
             <div class="mailbox-controls">
                   <button ng-show="checkM" type="button" class="btn btn-primary btn-sm" ng-click="addRow()" data-toggle="tooltip" title="Add New"><i class="fa fa-plus-square"></i> </button>
              </div> <!--/.mailbox-->

               <!--show messages error-->
                <div  ng-show= "isMessages" class="callout callout-danger">
                  <a href="#" class="close color-fff" ng-click="deleteMessage()" aria-label="close">&times;</a>
                  <ul >
                  <li ng-repeat = "message in messages"> {{message}} </li>
                  </ul>
              </div>

               <!--show messages  success-->
              <div  ng-show= "SuccessMessages" class="callout callout-info">

                  <a href="#" class="close color-fff" ng-click="deleteMessage()" aria-label="close">&times;</a>
                  <ul >
                  <li ng-repeat = "message in messages"> {{message}} </li>
                  </ul>
              </div>

              <table class="table table-bordered table-hover table-condensed">
              <tr style="font-weight: bold">
              <td style="width:10%">Date</td>
              <td style="width:7%">From (*)</td>
              <td style="width:7%">To(*)</td>
              <td style="width:5%">Hours</td>
              <td style="width:6%">Project(*)</td>
              <td style="width:6%">Ticket</td>
              <td style="width:7%">Category(*)</td>
              <td style="width:7%">Process(*)</td>
              <td style="width:20%">Note(*)</td>
              <td style="width:15%">Edit</td>
              <td style="width:15%">status</td>
            </tr>

            <tr ng-repeat="report in reports">

              <td>
                <span ng-if = "!isLoading"  editable-text="report.date" e-name="date" e-form="rowform"  e-show-weeks="false" e-placeholder= "Date" e-datepicker-popup="yyyy-MM-dd" e-required>
                  {{ report.date }}
                </span>
              </td>
              <!-- Show date -->

              <td>
                <span editable-text="report.start_time" e-name="start_time" e-typeahead="time for time in timeso | filter:$viewValue | limitTo:8" e-placeholder="00:00" e-form="rowform" e-required>
                  {{ report.start_time }}
                </span>
              </td>
              <!-- Show start time -->

              <td>
                <span editable-text="report.end_time" e-name="end_time" e-typeahead="time for time in timeso | filter:$viewValue | limitTo:8" e-placeholder="00:00" e-form="rowform" e-required>
                  {{ report.end_time }}
                </span>
              </td>
              <!-- Show end time -->

              <td>
                <span>
                  {{ (report.cost/60).toFixed(2) }}
                </span>
              </td>
              <!-- Show hours -->

              <td>
                <span editable-select="report.project_id" e-name="project_id" e-form="rowform" e-ng-options="project.id as project.name for project in project_list">
                  {{findName(report.project_id, project_list)}}
                </span>
              </td>
              <!-- Show project -->

              <td>
                <span editable-text="report.ticket" e-name="ticket" e-form="rowform" >
                  {{ report.ticket }}
                </span>
              </td>
              <!-- Show ticket -->

              <td>
                <span editable-select="report.category_id" e-name="category_id" e-form="rowform" e-ng-options="category.id as category.name for category in category_list">
                  {{findName(report.category_id, category_list)}}
                </span>
              </td>
              <!-- Show category -->

              <td>
                <span editable-select="report.process_id" e-name="process_id" e-form="rowform" e-ng-options="process.id as process.name for process in processes_list">
                  {{findName(report.process_id, processes_list)}}
                </span>
              </td>
              <!-- Show process editable-textarea-->

              <td>
                <span editable-textarea="report.note" e-name="note" e-form="rowform">
                  {{  report.note  }}
                </span>
              </td>

              <!-- Show note -->

              <td style="white-space: nowrap"  >
              <div  ng-show = "report.type !=3" >
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="saveUser($data, report.id, report)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == report">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm" ng-show="report.type !=4">
                    <i class="fa fa-pencil"></i>
                  </button>

                  <button ng-show="isNew" type="button" ng-disabled="rowform.$waiting" ng-click="removeUser(report.id)" class="btn btn-default btn-sm">
                    <i class="fa fa-times-circle"> </i>
                  </button>

                  <button ng-show="!isNew" type="button" ng-disabled="rowform.$waiting" ng-click="isCancel(rowform)" class="btn btn-default btn-sm">
                    <i class="fa fa-times-circle"> </i>
                  </button>
                  
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                <!-- if type = 4 (reject) => don't show edit-->
                  <button ng-show="report.type !=4" class="btn btn-primary btn-sm" ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
                  <button confirm-action on-confirm="deleteRow(report)" id = "buttonEdit">del</button>
                </div> 
              </div> 
              </td>

              <td> {{findName(report.type, types)}} </td>
            </tr>
            <tr> <td><strong>Accept total: </strong> {{ accept_total }} h</td></tr>
            </table>

          </div><!--row -->
            </div> <!--/.box-body-->
            <!-- END TABLE REPORTS -->
          </div> <!-- box box-primary -->
        </div><!--col -->
      </div><!--row -->
  </section>
</div>
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming" >
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"><i class="fa fa-trash-o"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
       <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-check"></i></button>
  </div>
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script>
$(document).ready(function () {
    $('#reservation').daterangepicker();
      //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
      //Date range as a button
    $('#date_range').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
     function (start, end) {
         $('#date_range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         var element = angular.element($('#date_range'));
          var controller = element.controller();
          var scope = element.scope();
         scope.$apply(function(){
           var start_time = start.toISOString();
           var end_time = end.toISOString();
           var data = [];
              scope.onSearchReport(start_time, end_time, data);
          });
         });
 });
 </script>

