
<div data-ng-init="initVacationReport()">
  <section class="content-header">
    <h1>
     {{ pageHeader }}
      <small>{{ pageDesc }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a ui-sref="app.report_main"><i class="fa fa-dashboard"></i> {{ 'report.daily' | translate }}</a></li>
      <li class="active">{{ 'menus.vacation_report' | translate }} </li>
    </ol>
  </section>
  <section class="content">
  <!-- search list reports -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-default">
              <div class="box-header with-border">
              <h3 class="box-title"><strong> {{ 'report.search' | translate }} : {{year}}</strong></h3>
              </div><!-- /.box-header -->
            <!-- form search -->
            <div class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                    <label for="date_range" class="col-sm-1 control-label">{{ 'report.date' | translate }}: </label>
                    <div class="col-sm-3">
                     <button class="btn btn-default pull-right" id="date_range">
                     <i class="fa fa-calendar"></i> <span ng-show = "hasStartEnd"> </span>
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                     <label for="search_type" class="col-sm-1 control-label"> {{ 'report.type' | translate }}:  </label>
                  <div class="col-sm-3">
                    <select type="text" class="form-control" id="search_type" ng-model="search_type" placeholder=" {{ 'report.type' | translate }} " data-ng-options=" type.id as type.name for type in types">
                    <option value=""> -- </option></select>
                  </div>
                 </div><!-- /.form group -->
              </div><!-- /.box-body -->
              <div class="box-footer">
                 <a ng-click="onClickSearch()" class="btn btn-primary pull-right"><i class="fa fa-search"></i></a>
                 <a ng-click="onClear()" class="btn btn-danger pull-right" id= "buttonEdit"><i class="fa fa-times-circle"></i> </a>
              </div><!-- /.box-footer -->
            </div>
          </div><!-- /.box -->
        </div><!-- /.col-->
      </div><!-- /.row -->
   <!-- table list reports -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
        <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->

        <div class="box-header with-border">
           <h6 class="box-title" >{{ 'menus.vacation_report' | translate }} </h6>  
          </div><!-- /.box-header -->
          <!-- Form Add Project Name -->
          <div class="box-body table-responsive no-padding">
             <div class="mailbox-controls">
                   <button type="button" class="btn btn-primary btn-sm" ng-disabled="!isAdd" ng-click="newRow()" data-toggle="tooltip" title="Add New"><i class="fa fa-plus-square"></i> </button>
              </div> <!--/.mailbox-->
               <!--show messages error-->
                <div  ng-show= "isMessages && colorShowMessages" class="callout callout-danger">
                  <a href="#" class="close color-fff" ng-click="deleteMessage()" aria-label="close">&times;</a>
                  <ul >
                  <li ng-repeat = "message in messages"> {{message}} </li>
                  </ul>
              </div>
               <!--show messages  success-->
              <div  ng-show= "isMessages && !colorShowMessages" class="callout callout-info">
                  <a href="#" class="close color-fff" ng-click="deleteMessage()" aria-label="close">&times;</a>
                  <ul >
                  <li ng-repeat = "message in messages"> {{message}} </li>
                  </ul>
              </div>
              <table class="table table-hover table-striped">
                  <tr>
                  	<th style="width:10%">{{ 'report.date' | translate }}</th>
                    <th style="width:10%">{{ 'report.from' | translate }} <small>(*)</small></th>
                    <th style="width:10%">{{ 'report.to' | translate }}<small>(*)</small></th>
                    <th style="width:10%">{{ 'report.hours' | translate }}</th>
                    <th style="width:30%">{{ 'report.note' | translate }}<small>(*)</small></th>
                    <th style="width:20%" ng-show = "!disabledButton">{{ 'report.operation' | translate }}</th>
                    <th style="width:10% ; color: #b50707" >{{ 'report.type' | translate }}</th>
                  </tr>
                  <tr ng-repeat="report in reports | orderBy:'-date_vacation' " >
                    <!-- From -->
                    <td > <a ng-if = "!isLoading"  e-form="rowform" editable-text="date_vacation" e-name = "date_vacation" e-show-weeks="false" e-placeholder= "{{report.date_vacation || today}}" e-datepicker-popup="yyyy-MM-dd" >{{ report.date_vacation }} </a>
                     <a ng-if= "isLoading" e-name = "date_vacation" e-form="rowform" e-placeholder = "{{report.date_vacation || today}}" >{{report.date_vacation || today}} </a>
                    </td>
                    <td>
                    <span editable-text="report.start_time" e-typeahead="time for time in times | filter:$viewValue | limitTo:8" e-placeholder="00:00" e-name="start_time" e-form="rowform">{{report.start_time}}</span></td>
                    <td>
                    <span editable-text="report.end_time" e-typeahead="time for time in times | filter:$viewValue | limitTo:8" e-placeholder="00:00" e-name="end_time" e-form="rowform">{{report.end_time}}</span></td>
                    <td e-form="rowform"> {{getCost(report.cost)}}</td>
                    <td> <div class = "wraptext"><span editable-textarea="report.note" e-name="note" e-form="rowform" e-placeholder="Add Note">{{ report.note }}</span></div></td> 
                    <!-- edit and delete action-->
                    <td style="white-space: nowrap" ng-show = "!disabledButton" >
                   <!-- form -->
                      <form editable-form name="rowform" onbeforesave="SaveUser($data, report.id, report)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == report">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm">
                        <i class="fa fa-floppy-o"></i> </button>
                        <button type="button"  ng-if= "!isNew " ng-disabled="rowform.$waiting" ng-click="isCancel(rowform)" class="btn btn-default btn-sm"><i class="fa fa-times-circle"> </i></button>
                         <button type="button" ng-if= "isNew " ng-disabled="rowform.$waiting" ng-click="getOutRow(report)" class="btn btn-default btn-sm"><i class="fa fa-times-circle"> </i></button>
                      </form>
                      <div class="buttons" ng-show="!rowform.$visible && !isOverMonth && report.type != 5 ">
                      <div confirm-action on-confirm="deleteRow(report)" id = "buttonEdit"></div>
                        <button ng-show = "report.type != 6" class="btn btn-primary btn-sm" ng-disabled="isNew" ng-click="isEdit(rowform)"><i class="fa fa-pencil"></i></button>
                      </div>
                    </td>
                     <td>  {{findName(report.type, types)}} </td>
                  </tr><!-- end ng-repeat -->
                <tr>
                     <td colspan="3" align="right" style="text-align:center">
                       <strong> {{ 'report.total' | translate }} {{total_report}} </strong>
                    </td>
                    <td colspan="10" ></td>
                </tr>
                <tr>
                     <td colspan="3" align="right" style="text-align:center">
                       <strong> {{ 'report.accept_total' | translate }} {{accept_total}} </strong>
                    </td>
                    <td colspan="10" ></td>
              </tr>
              </table><!-- /.table -->
            </div> <!--/.box-body-->
            <!-- END TABLE REPORTS -->
          </div> <!-- box box-primary -->
        </div><!--col -->
      </div><!--row -->
  </section>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"> <i class="fa fa-trash-o"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
       <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"> <i class="fa fa-trash-o"></i></button>
  </div>
</script>
<script>
$(document).ready(function () {
    $('#reservation').daterangepicker();
      //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
      //Date range as a button
    $('#date_range').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
     function (start, end) {
         $('#date_range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         var element = angular.element($('#date_range'));
          var controller = element.controller();
          var scope = element.scope();
         scope.$apply(function(){
           var start_time = start.toISOString();
           var end_time = end.toISOString();
           var data = [];
           if(scope.search_type){
            data ['search_type'] = scope.search_type;
          } else {
             data ['search_type'] = document.getElementById("search_type").value.substr(7,8);
          }
          scope.onSearchAbsence(start_time, end_time, data);

          });
         });
 });
 </script>


