
<div data-ng-init="initVacationManagement()">
  <section class="content-header">
    <h1>
     {{ pageHeader }}
      <small>{{ pageDesc }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a ui-sref="app.report_main"><i class="fa fa-dashboard"></i> {{ 'report.daily' | translate }}</a></li>
      <li class="active">{{ 'menus.vacation' | translate }} </li>
    </ol>
  </section>
  <section class="content">
   <!-- search list reports -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-default">
              <div class="box-header with-border">
              <h3 class="box-title"><strong> {{ 'report.search' | translate }} : {{year}}</strong></h3>
              </div><!-- /.box-header -->
            <!-- form search -->
            <div class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                    <label for="date_range" class="col-sm-1 control-label">{{ 'report.date' | translate }}: </label>
                    <div class="col-sm-2">
                     <button class="btn btn-default pull-right" id="date_range">
                     <i class="fa fa-calendar"></i> <span ng-show = "hasStartEnd"> </span>
                        <i class="fa fa-caret-down"></i>
                      </button>
                    </div>
                    <label for="search_type" class="col-sm-1 control-label"> {{ 'report.type' | translate }}:  </label>
                  <div class="col-sm-2">
                    <select type="text" class="form-control" id="search_type" ng-model="search_type" placeholder=" {{ 'report.type' | translate }} " data-ng-options=" type.id as type.name for type in types">
                    <option value=""> -- </option></select>
                  </div>
                     <label ng-show = "$storage.premission ==1" for="search_name" class="col-sm-1 control-label">{{ 'report.member' | translate }}: </label>
                    <div class="col-sm-2"  ng-show = "$storage.premission ==1">
                    <select type="text" class="form-control" id="search_member" ng-model="search_member"  data-ng-options="user.id as user.name for user in $storage.users">
                    <option value=""> -- </option>
                  </select>
                  </div>
                  
                 </div><!-- /.form group -->
              </div><!-- /.box-body -->
              <div class="box-footer">
                <a ng-click="onClickSearch()" class="btn btn-primary pull-right"><i class="fa fa-search"></i></a>
                <a ng-click="onClear()" class="btn btn-danger pull-right" id= "buttonEdit"><i class="fa fa-times-circle"></i> </a>
              </div><!-- /.box-footer -->
            </div>
          </div><!-- /.box -->
        </div><!-- /.col-->
      </div><!-- /.row -->
   <!-- table list reports -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">

        <!-- Loading (remove the following to stop the loading)-->
         <div ng-show="isLoading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
           <!-- end loading -->

        <div class="box-header with-border">
           <h6 class="box-title" >{{ 'menus.vacation' | translate }} </h6>  
          </div><!-- /.box-header -->
          <!-- Form Add Project Name -->
          <div class="box-body  table-responsive no-padding">
              <div class="mailbox-controls" ng-show = "isPagination">
               <div class="box-body">
                 <strong  >
                    {{ 'report.show' | translate }} </strong>
                     <span editable-select="reportsPerPage" onaftersave="getListReports(currentPage)" e-name="reportsPerPage"  e-ng-options="reportsperpage.id as reportsperpage.name for reportsperpage in $storage.reportsperpages">{{reportsPerPage}}</span>
                   <div class="pull-right">
                     <!--  <button class="btn btn-default btn-sm" ng-csv="reports" filename="missing_report.csv" data-toggle="tooltip" title="export CSV"><i class="fa fa-file-excel-o"></i></button> -->
                      <div class="btn-group" >
                        <button class="btn btn-default btn-sm" ng-class="prevPageDisabled()" ng-click="prevPage()">
                        <i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-default btn-sm" ng-class="nextPageDisabled()" ng-click="nextPage()">
                        <i class="fa fa-chevron-right"></i></button> 
                      </div> <!-- /.btn-group-->
                    </div> <!-- /.pull-right -->
                   </div><!-- /.box body -->
                  </div> <!-- /.mail box -->
              <table class="table table-hover table-striped">
                  <tr>
                   <th style="width:10%">{{ 'report.member' | translate }}</th>
                    <th style="width:10%">{{ 'report.date' | translate }}</th>
                    <th style="width:10%">{{ 'report.from' | translate }} <small>(*)</small></th>
                    <th style="width:10%">{{ 'report.to' | translate }}<small>(*)</small></th>
                    <th style="width:10%">{{ 'report.hours' | translate }}</th>
                    <th style="width:20%">{{ 'report.note' | translate }}<small>(*)</small></th>
                    <th style="width:10%"  ng-show = "$storage.premission ==1">{{ 'report.accept' | translate }}</th>
                    <th style="width:10%"  ng-show = "$storage.premission ==1">{{ 'report.reject' | translate }}</th>
                    <th style="width:10% ; color: #b50707" >{{ 'report.type' | translate }}</th>
                  </tr>
                  <tr ng-repeat="report in reports | orderBy:'-date_vacation' " >
                    <!-- From -->
                    <td > {{findName(report.user_id,$storage.allUsers)}}</td>
                    <td > {{ report.date_vacation }}</td>
                    <td>{{report.start_time}}</td>
                    <td>{{report.end_time}}</td>
                    <td> {{getCost(report.cost)}}</td>
                    <td> <div class = "wraptext">{{ report.note }}</div></td> 
                    <td ng-show = "!isAccept && report.type !=5 && $storage.premission ==1 ||report.type !=5 && $storage.premission ==1 ">  <div confirm-action on-confirm="acceptRow(report)"> </div></td>
                    <td ng-show = "isAccept && report.type ==5 && $storage.premission ==1 ||report.type ==5 && $storage.premission ==1 "></td>
                    <td style="white-space: nowrap"  ng-show = "!isAccept && report.type !=5 && $storage.premission ==1 ||report.type !=5 && $storage.premission ==1">
                   <!-- form -->
                      <div ng-show = "isRejectConfirm && idReject ==report.id">
                        <a ng-click="rejectRow(report)" class="btn btn-danger btn-sm"><i class="fa fa-check"></i></a>
                        <a ng-click="isCancel()" class="btn btn-default btn-sm"><i class="fa fa-times-circle"> </i></a>
                      </div>
                      <div class="buttons" ng-show="!isRejectConfirm || idReject !=report.id">
                        <button  id = "buttonEdit" class="btn btn-default btn-sm" ng-click="isReject(report)"><i class="fa fa-times"></i></button>
                      </div>
              </td>
                    <td ng-show = "isAccept && report.type ==5 && $storage.premission ==1 ||report.type ==5 && $storage.premission ==1 "></td>
                    <td>  {{findName(report.type, types)}} </td>
                    <!-- edit and delete action-->
                  </tr><!-- end ng-repeat -->
                <tr>
                     <td colspan="3" align="right" style="text-align:center">
                       <strong> {{ 'report.total' | translate }} {{total_report}} </strong>
                    </td>
                    <td colspan="10" ></td>
                </tr>
                 <tr>
                     <td colspan="3" align="right" style="text-align:center">
                       <strong> {{ 'report.accept_total' | translate }} {{accept_total}} </strong>
                    </td>
                    <td colspan="10" ></td>
              </tr>
              </table><!-- /.table -->
            </div> <!--/.box-body-->
            <!-- END TABLE REPORTS -->
          </div> <!-- box box-primary -->
        </div><!--col -->
      </div><!--row -->
  </section>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
<script type="text/ng-template" id="templates/confirmation.html">
  <div>
    <div ng-hide="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="startConfirm()"><i class="fa fa-check"></i></button>
    </div>
    <div ng-show="isConfirming">
      <button type="button" class="btn btn-default btn-sm " ng-click="cancel()"> <i class="fa fa-times-circle"> </i></button>
       <button type="button" class="btn btn-danger btn-sm "  ng-click="confirm()"><i class="fa fa-check"></i></button>
  </div>
</script>
<script>
$(document).ready(function () {
    $('#reservation').daterangepicker();
      //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
      //Date range as a button
    $('#date_range').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
     function (start, end) {
         $('#date_range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         var element = angular.element($('#date_range'));
          var controller = element.controller();
          var scope = element.scope();
         scope.$apply(function(){
           var start_time = start.toISOString();
           var end_time = end.toISOString();
           var data = [];
           if(scope.search_project){
            data ['search_member'] = scope.search_member;
           } else {
            data ['search_member'] = document.getElementById("search_member").value.substr(7,8);
           }
           if(scope.search_type){
            data ['search_type'] = scope.search_type;
          } else {
             data ['search_type'] = document.getElementById("search_type").value.substr(7,8);
          }
          scope.onSearchAbsence(start_time, end_time, data);

          });
         });
 });
 </script>



