<div class="wrapper" data-ng-init="initApp()">
    <div ng-include="getInclude('views/partials/header.html')"></div>

    <div ui-view="appContent" class="content-wrapper" style="min-height: 1516px;"></div>

    <div ng-include="getInclude('views/partials/footer.html')"></div>
</div>
<!--30da180-->